@font-face {
  font-family: 'fontello';
  src: url('../fonts/es-icon-stripe.eot?45233');
  src: url('../fonts/es-icon-stripe.eot?45233#iefix') format('embedded-opentype'),
       url('../fonts/es-icon-stripe.woff2?45233') format('woff2'),
       url('../fonts/es-icon-stripe.woff?45233') format('woff'),
       url('../fonts/es-icon-stripe.ttf?45233') format('truetype'),
       url('../fonts/es-icon-stripe.svg?45233#es-icon-stripe') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/es-icon-stripe.svg?45233#es-icon-stripe') format('svg');
  }
}
*/
 
 [class^="es-icon-"]:before, [class*=" es-icon-"]:before,
 .check-mark:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 0.9em;
  margin-right: .1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 0.8em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .1em;*/
  top:2px;
  position: relative;
 
   /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* you can be more comfortable with increased icons size */
   font-size: 166%; 
 
  /* Uncomment for 3D effect */
   /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.es-icon-send:before { left: -1px; }
.check-mark:before { content: '\e92c'; } /* '' */

.es-icon-text:before { content: '\e90f'; } /* '' */
.es-icon-image:before { content: '\e914'; } /* '' */
.es-icon-plus:before { content: '\e915'; } /* '' */
.es-icon-minus:before { content: '\e916'; } /* '' */
.es-icon-download:before { content: '\e918'; } /* '' */
.es-icon-upload:before { content: '\e919'; } /* '' */
.es-icon-delete:before { content: '\e91a'; } /* '' */
.es-icon-restore:before { content: '\e91b'; } /* '' */
.es-icon-edit:before { content: '\e91c'; } /* '' */
.es-icon-code:before { content: '\e91d'; } /* '' */
.es-icon-success:before { content: '\e91e'; } /* '' */
.es-icon-cog:before { content: '\e922'; } /* '' */
.es-icon-copy:before { content: '\e923'; } /* '' */
.es-icon-users:before { content: '\e926'; } /* '' */
.es-icon-sidebar:before { content: '\e927'; } /* '' */
.es-icon-mail-preview:before { content: '\e928'; } /* '' */
.es-icon-in-new-tab:before { content: '\e929'; } /* '' */
.es-icon-erase:before { content: '\e92a'; } /* '' */
.es-icon-log-out:before { content: '\e92b'; } /* '' */
.es-icon-check:before { content: '\e92c'; } /* '' */
.es-icon-eye-hide:before { content: '\e92d'; } /* '' */
.es-icon-eye-show:before { content: '\e92e'; } /* '' */
.es-icon-user-account:before { content: '\e92f'; } /* '' */
.es-icon-back:before { content: '\e930'; } /* '' */
.es-icon-forward:before { content: '\e931'; } /* '' */
.es-icon-reply:before { content: '\e932'; } /* '' */
.es-icon-facebook:before { content: '\e933'; } /* '' */
.es-icon-google:before { content: '\e934'; } /* '' */
.es-icon-sidebar-right:before { content: '\e936'; } /* '' */
.es-icon-bottom:before { content: '\e937'; } /* '' */
.es-icon-top:before { content: '\e938'; } /* '' */
.es-icon-grid:before { content: '\e939'; } /* '' */
.es-icon-grid-by-type:before { content: '\e955'; } /* '' */
.es-icon-youtube:before { content: '\e956'; } /* '' */
.es-icon-more:before { content: '\e958'; } /* '' */
.es-icon-billing:before { content: '\e959'; } /* '' */
.es-icon-project:before { content: '\e960'; } /* '' */
.es-icon-deny:before { content: '\e961'; } /* '' */
.es-icon-mail:before { content: '\e962'; } /* '' */
.es-icon-linkedin:before { content: '\e963'; } /* '' */
.es-icon-skype:before { content: '\e964'; } /* '' */
.es-icon-phone:before { content: '\e965'; } /* '' */
.es-icon-instagram:before { content: '\e966'; } /* '' */
.es-icon-help:before { content: '\e967'; } /* '' */
.es-icon-qr-code:before { content: '\e968'; } /* '' */
.es-icon-paypal:before { content: '\e969'; } /* '' */
.es-icon-pending:before { content: '\e970'; } /* '' */
.es-icon-file:before { content: '\e972'; } /* '' */
.es-icon-zip:before { content: '\e973'; } /* '' */
.es-icon-replace:before { content: '\e999'; } /* '' */
.es-icon-rename:before { content: '\e99a'; } /* '' */
.es-icon-new-folder:before { content: '\e99b'; } /* '' */
.es-icon-home:before { content: '\e99c'; } /* '' */
.es-icon-plugin:before { content: '\e99d'; } /* '' */
.es-icon-lamp:before { content: '\e99e'; } /* '' */
.es-icon-send:before { content: '\ea00'; } /* '' */
.es-icon-time-machine:before { content: '\e957'; } /* '' */