@font-face {
  font-family: 'fontello';
  src: url('../fonts/es-icon-stripe.eot?45233');
  src: url('../fonts/es-icon-stripe.eot?45233#iefix') format('embedded-opentype'),
  url('../fonts/es-icon-stripe.woff2?45233') format('woff2'),
  url('../fonts/es-icon-stripe.woff?45233') format('woff'),
  url('../fonts/es-icon-stripe.ttf?45233') format('truetype'),
  url('../fonts/es-icon-stripe.svg?45233#es-icon-stripe') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/es-icon-stripe.svg?45233#es-icon-stripe') format('svg');
  }
}
*/

[class^="es-icon-"]:before, [class*=" es-icon-"]:before,
.check-mark:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 0.9em;
  margin-right: .1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 0.8em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .1em;*/
  top:2px;
  position: relative;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* you can be more comfortable with increased icons size */
  font-size: 166%; 

  /* Uncomment for 3D effect */
  /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.es-icon-send:before { left: -1px; }
.check-mark:before { content: '\e92c'; } /* '' */
.es-icon-google:before { 
  content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3E%3Cpath d='M18.7 10.2c0-.6-.1-1.3-.2-1.8H10v3.5h4.8C14.6 13 14 14 13 14.6v2.3h3c1.7-1.6 2.7-4 2.7-6.7z' fill='%233e82f1'/%3E%3Cpath d='M10 19c2.4 0 4.5-.8 6-2.2l-2.9-2.3c-.8.5-1.8.9-3 .9-2.3 0-4.3-1.6-5-3.7H2V14c1.4 3 4.5 5 8 5z' fill='%2332a753'/%3E%3Cpath d='M5 11.7c-.2-.5-.3-1.1-.3-1.7 0-.6.1-1.2.3-1.7V6H2c-.6 1.2-1 2.6-1 4s.3 2.8 1 4l3-2.3z' fill='%23f9bb00'/%3E%3Cpath d='M10 4.6c1.3 0 2.5.5 3.4 1.3L16 3.3C14.5 1.9 12.4 1 10 1 6.5 1 3.4 3 2 6l3 2.3c.7-2.1 2.7-3.7 5-3.7z' fill='%23e74133'/%3E%3C/svg%3E");
  height: 20px;
  width: 20px !important;
  display: inline-block !important;
  float: left;
  top: 0 !important;
} 
.es-icon-facebook:before { color:#4167b1; }
.es-icon-twitter:before { color:#1ea1f3;}
.es-icon-instagram:before { 
  color:#1ea1f3;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  display: inline !important;
  color:#d3308b;
  text-shadow: none;
}
.es-icon-youtube:before { color:#ff0000; }
.es-icon-medium:before { color:#292929; }
.es-icon-pinterest:before { color:#e60022; }
.es-icon-linkedin:before { color:#0077B5; }
.es-icon-youtube:before { color:#ff0000; }
.es-icon-medium:before { color:#292929; }
.es-icon-pinterest:before { color:#e60022; }
.es-icon-linkedin:before { color:#0077B5; }



.es-icon-text:before { content: '\e90f'; } /* '' */
.es-icon-image:before { content: '\e914'; } /* '' */
.es-icon-plus:before { content: '\e915'; } /* '' */
.es-icon-minus:before { content: '\e916'; } /* '' */
.es-icon-download:before { content: '\e918'; } /* '' */
.es-icon-upload:before { content: '\e919'; } /* '' */
.es-icon-delete:before { content: '\e91a'; } /* '' */
.es-icon-restore:before { content: '\e91b'; } /* '' */
.es-icon-edit:before { content: '\e91c'; } /* '' */
.es-icon-code:before { content: '\e91d'; } /* '' */
.es-icon-success:before { content: '\e91e'; } /* '' */
.es-icon-cog:before { content: '\e922'; } /* '' */
.es-icon-copy:before { content: '\e923'; } /* '' */
.es-icon-users:before { content: '\e926'; } /* '' */
.es-icon-sidebar:before { content: '\e927'; } /* '' */
.es-icon-mail-preview:before { content: '\e928'; } /* '' */
.es-icon-in-new-tab:before { content: '\e929'; } /* '' */
.es-icon-erase:before { content: '\e92a'; } /* '' */
.es-icon-log-out:before { content: '\e92b'; } /* '' */
.es-icon-check:before { content: '\e92c'; } /* '' */
.es-icon-eye-hide:before { content: '\e92d'; } /* '' */
.es-icon-eye-show:before { content: '\e92e'; } /* '' */
.es-icon-user-account:before { content: '\e92f'; } /* '' */
.es-icon-back:before { content: '\e930'; } /* '' */
.es-icon-forward:before { content: '\e931'; } /* '' */
.es-icon-reply:before { content: '\e932'; } /* '' */
.es-icon-facebook:before { content: '\e933';} /* '' */
.es-icon-sidebar-right:before { content: '\e936'; } /* '' */
.es-icon-bottom:before { content: '\e937'; } /* '' */
.es-icon-top:before { content: '\e938'; } /* '' */
.es-icon-grid:before { content: '\e939'; } /* '' */
.es-icon-grid-by-type:before { content: '\e955'; } /* '' */
.es-icon-youtube:before { content: '\e956'; } /* '' */
.es-icon-time-machine:before { content: '\e957'; } /* '' */
.es-icon-more:before { content: '\e958'; } /* '' */
.es-icon-billing:before { content: '\e959'; } /* '' */
.es-icon-project:before { content: '\e960'; } /* '' */
.es-icon-deny:before { content: '\e961'; } /* '' */
.es-icon-mail:before { content: '\e962'; } /* '' */
.es-icon-linkedin:before { content: '\e963'; } /* '' */
.es-icon-twitter:before { content: '\e964'; } /* '' */
.es-icon-instagram:before { content: '\e966'; } /* '' */
.es-icon-help:before { content: '\e967'; } /* '' */
.es-icon-qr-code:before { content: '\e968'; } /* '' */
.es-icon-paypal:before { content: '\e969'; } /* '' */
.es-icon-pending:before { content: '\e970'; } /* '' */
.es-icon-file:before { content: '\e972'; } /* '' */
.es-icon-zip:before { content: '\e973'; } /* '' */
.es-icon-replace:before { content: '\e999'; } /* '' */
.es-icon-rename:before { content: '\e99a'; } /* '' */
.es-icon-new-folder:before { content: '\e99b'; } /* '' */
.es-icon-home:before { content: '\e99c'; } /* '' */
.es-icon-plugin:before { content: '\e99d'; } /* '' */
.es-icon-lamp:before { content: '\e99e'; } /* '' */
.es-icon-send:before { content: '\ea00'; } /* '' */
.es-icon-medium:before { content: '\ea02'; } /* '' */
.es-icon-pinterest:before { content: '\ea03'; } /* '' */
.es-icon-refresh:before { content: '\ea06'; } /* '' */
.es-icon-disable-img:before { content: '\ea07'; } /* '' */
.es-icon-grid-by-columns:before { content: '\ea08'; } /* '' */
.es-icon-testing:before { content: '\ea09'; } /* '' */