.btn-link,
.btn-link:hover,
.btn-link:focus,
a,
a:hover,
a:focus,
.esdev-app .btn-link,
.esdev-app .btn-link:hover,
.esdev-app .btn-link:focus,
.esdev-app a,
.esdev-app a:hover,
.esdev-app a:focus,
button.list-group-item,
.esdev-app button.list-group-item {
	outline: none;
	outline-offset: 0px;
}

.breadcrumb .es-icon-home:hover {
	color: #2aac40;
}

.btn,
.bootstrap-select button.dropdown-toggle:focus {
	outline: 0px none currentColor !important;
	outline-offset: 0px !important;
}

body {
	padding-top: 65px;
	margin: 0;
}

.content-area {
	overflow-y: scroll;
	padding-left: 20px;
	padding-right: 20px;
}

.esdev-templates {
	overflow-y: scroll;
	overflow-x: hidden;
}

.esdev-subtext-bottom.btn-group .dropdown-menu li small {
	display: block;
	padding-left: 0 !important;
}

.label {
	padding: .3em .6em .3em;
}

[class^="es-icon-"] {
	color: #5F5F5F;
	font-size: calc(var(--font-size) - 2px);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}
[class^="es-icon-"][class*="rotate"] {
	text-shadow: -1px 0px 0px rgba(255, 255, 255, 0.7);
}

.btn-sm [class^="es-icon-"] {
	font-size: 10px !important;
}

.h1[class^="es-icon-"] {
	font-size: 36px;
}

.es-icon-delete,
.es-icon-edit,
.es-icon-move,
.esdev-social-icon-popover .nav a {
	cursor: pointer;
}

.breadcrumb .es-icon-home {
	color: #cccccc;
	padding-bottom: 3px;
	font-size: 11px;
}

.breadcrumb .es-icon-home:before {
	top: 1px;
}

.btn-primary [class^="es-icon-"],
.btn-danger [class^="es-icon-"],
.btn-success [class^="es-icon-"],
.list-group-item.active [class^="es-icon-"] {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.esdev-subtext-bottom.btn-group .filter-option small {
	padding-left: .5em;
}

.list-group-item [class^="es-icon-"] {
	float: left;
	display: inline-block;
}

.btn [class^="es-icon-"],
.esdev-columnSelector [class^="es-icon-"],
.save-folder-name [class^="es-icon-"] {
	margin-right: 0px !important;
	float: none;
}
.es-icon-amp {
	color:#005af0 !important;
}
span.input-icon {
	cursor: pointer;
	color: #cccccc;
	float: right;
	margin-top: -28px;
	margin-right: 10px;
	z-index: 4;
	position: relative;
}

input[type="password"] {
	padding-right: 40px;
}

.btn-round {
	border-radius: 20px !important;
	padding: 6px !important;
	height: 34.41px;
	width: 34.41px;
}

.btn-sm.btn-round {
	height: 30px;
	width: 30px;
	line-height: inherit;
}

.btn-xs.btn-round {
	height: 24px;
	width: 24px;
	padding: 2px 0px !important;
}

textarea {
	resize: vertical;
	min-height: 34px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
}

.panel-body h3,
.panel-body h4 {
	margin-bottom: 10px;
}

.full-height,
.full-height .full-height {
	height: 100%;
}

.full-height .settings-container,
.es-email-view {
	overflow: hidden;
}

.body {
	padding-top: 0px;
}

.header-logo {
	padding: 30px 0px 15px;
}

.input-group-btn:last-child > .btn:hover,
.btn-group > .btn:hover {
	z-index: 3;
}

.navbar-toggle {
	margin-top: 15px;
	margin-right: 0;
}

.navbar-toggle .icon-bar {
	width: 16px;
	margin: 0 auto;
}

.cont {
	background-color: #ffffff;
}

.bottom-panel {
	position: fixed;
	bottom: 0;
	z-index: 1;
	right: 0;
}

/*.esdev-app .modal-content,
.modal-content {
	border-radius: 27px;
}
*/
/*.esdev-stripes li,
.thumbnail.esdev-block,
.template-preview:hover img,
.esdev-app .esdev-stripes li,
.esdev-app .thumbnail.esdev-block,
.esdev-app .template-preview img {
	border-radius: 10px !important;
}
*/
.panel-heading {
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	/*background: #ffffff !important;*/
}

.panel-heading h3.panel-title {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.3;
}

.esdev-settings-panel-view .panel-heading {
	position: relative;
}

/*.esdev-settings-panel-view .panel-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 42px !important;
}

.esdev-settings-panel-view .panel-title > a {
	text-indent: 15px;
	}*/

	.control-label {
		font-weight: normal;
		text-align: left !important;
		line-height: normal;
	}

	.notification-transparent-on-hover:hover {
		opacity: 0.5;
	}

	.notification-zone {
		position: fixed;
		width: 400px;
		z-index: 99999;
		right: 20px;
		bottom: 80px;
	}

	.notification-zone.left-side-notification {
		left: 20px !important;
	}

	[class*="required-"] {
		position: relative;
	}

	.required-field::after, .required-field-select::after {
		content: "•";
		color: rgb(245, 134, 132);
		position: absolute;
		margin-right: -1px !important;
		font-size: 18px;
		z-index: 2;
		right: 0;
		top: -10px;
		font-family: sans-serif;
	}

	[class^="col-"][class*="required-"]::after {
		margin-right: 14px !important;
	}

	.content-area .form-horizontal .form-group:last-child {
		margin-bottom: 0;
	}

	.dropdown-menu,
	.popover {
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	}

	.notification-zone .alert,
	.modal-content {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	.modal {
		text-align: center;
		padding: 0 !important;
	}

	.modal:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}

	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}

	.modal-content,
	.panel,
	.esdev-back {
		border-radius: 17px 17px 30px 30px;
	}

/*.esdev-settings-tabs li:first-child a {
	padding: 10px 0px;
	}*/

	.modal-header {
		background-color: #fff;
		border-radius: 17px 17px 0 0;
	}

	.modal-dialog.modal-full-screen {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		overflow-y: auto;
	}

	.modal-full-screen .modal-content {
		min-height: 100%;
		border-radius: 0;
		border: 0;
	}

	.preview-dialog .modal-content {
		position: absolute;
		height: max-content;
		width: 100%;
	}

	.modal-full-screen .modal-header {
		border-radius: 0;
	}

	.modal-full-screen button.close {
		position: absolute;
		right: 0;
		margin-right: 15px;
		z-index: 99;
	}

	.navbar {
		margin: 0;
	}

	.header-menu {
		padding-top: 15px;
	}

	.navbar-brand {
		background: url('../../assets/img/nav-brand.svg') no-repeat 50%;
		height: 54px;
		width: 100px;
		display: inline-block;
		margin-top: 5px;
		margin-left: 0px !important;
		margin-bottom: 5px;
	}

	.company-menu .caret {
		margin-left: 5px;
	}

	.company-menu .dropdown-menu {
		width: 300px;
	}

	.projectOptions {
		display: none;
		margin: 0;
		margin-top: 1px;
	}
	.item-controls {
		display: none
	}
	.dropdown-menu.open li a:hover .item-controls {
		display: inline-block;
	}
	.dropdown-menu.open li a .item-controls [class^="es-icon-"] {
		color: #dddddd !important;
	}
	.dropdown-menu.open li a .item-controls [class^="es-icon-"]:hover {
		color: #555555 !important;
	}
	.dropdown-menu.open li a .item-controls span:last-child {
		margin:0;
	}
	.company-menu ul li a:hover span.projectOptions:hover {
		color: #555555 !important;
	}

	.company-menu ul li a:hover span.projectOptions{
		display: inline-block;
		color: #dddddd !important;
		margin: 0;
	}

	.company-menu ul li.active span.projectOptions {
		text-shadow: none;
	}

	.company-menu .custom-item {
		padding-bottom: 15px;
	}

	.project-avatar,
	.company-avatar {
		height: 22px;
		width: 22px;
		display: inline-block;
		border-radius: 20px;
		box-shadow: 0px 0px 0px 1px #ffffff;
		background-size: 100%;
		background-position: 50%;
		background-repeat: no-repeat;
	}

	.company-avatar {
		background-color: #f6f6f6;
		margin: -4px 6px -6px -7px;
	}

	.project-name {
		width: 181px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.table {
		background: #ffffff;
	}

	table td .company-avatar {
		margin: 0px 6px 20px 0px;
	}

	table td {
		vertical-align: middle !important;
	}

	.project-avatar {
		background-color: #f6f6f6;
		margin-right: 15px;
		margin-top: -1px;
		float: left;
	}

	.user-menu > button {
		padding: 0;
		border-radius: 20px;
		border: 1px solid #ffffff;
	}

	.user-menu.open .user-avatar {
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}

	.user-menu .dropdown-menu {
		max-width: 277px;
	}

	.user-menu .user-menu-name {
		width: 173px;
		display: inline-block;
		line-height: normal;
	}

	.user-avatar {
		height: 34px;
		width: 34px;
		display: block;
		border-radius: 20px;
		background-size: 100%;
		background-position: 50%;
		background-repeat: no-repeat;
	}

	.user-first-letters {
		font-size: 12px;
		padding-top: 8px;
		height: 32px;
		width: 100%;
		display: block;
		text-align: center;
		color: #ffffff;
	}

	.user-avatar.company-avatar-preview .user-first-letters {
		padding-top: 30px;
		font-size: 18px !important;
		height: 84px;
	}

	.panel-default > .panel-heading .badge {
		font-weight: normal;
		color: #555555 !important;
		background-color: #dddddd !important;
	}

	.nav-pills > li > a {
		padding: 7px 14px;
		margin-bottom: 5px !important;
	}

	.theme-filter > li > a {
		padding: 7px 9px 7px 14px;
		background: #f6f6f6;
		border-radius: 17px;
	}

	.theme-filter > li > a .badge {
		margin-top: 1px;
		margin-left: 6px;
		float: right;
	}

	.template-filter .btn {
		padding: 6px 9px 6px 12px;
	}

	.template-filter .btn .badge {
		margin-left: 8px;
	}

	.text-success {
		color: #2cb543 !important;
	}

	.text-warning {
		color: #eea236 !important;
	}

	.text-info {
		color: #3283ab !important;
	}
	.text-purple {
		color:#a01eef;
	}

	.text-danger,
	.esdev-app .text-danger {
		color: #d9534f !important;
	}

	@keyframes fadeInOut {
		0%, 50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	.animated {
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	.fadeInOut {
		-webkit-animation-name: fadeInOut;
		animation-name: fadeInOut;
	}

	.vertical-logo {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 126 118'%3E%3Cpath style='fill:%234A4A4A' d='M9.9 102.3c3.5 0 5.2-1.1 5.2-3.3 0-0.7-0.3-1.2-1-1.6s-1.6-0.7-2.6-1 -2.2-0.6-3.4-0.9 -2.4-0.7-3.5-1.3c-1.1-0.5-2-1.2-2.6-2.1 -0.7-0.9-1-1.9-1-3.2 -0.1-1.2 0.1-2.3 0.5-3.2s1-1.7 1.7-2.3c1.7-1.4 4-2.1 6.9-2.1 2.4 0 4.7 0.4 6.9 1.2 0.4 0.2 0.8 0.4 1 0.8s0.4 0.7 0.4 1.2c0 0.4-0.2 0.8-0.5 1.2 -0.4 0.4-0.7 0.6-1.1 0.6 -0.3 0-0.8-0.1-1.3-0.2 -1.5-0.5-3.1-0.7-5-0.7 -1.8 0-3.2 0.3-4.1 0.9 -0.9 0.4-1.3 1.2-1.3 2.1 0 0.9 0.3 1.6 1 2s1.6 0.8 2.6 1.1c1.1 0.3 2.2 0.6 3.5 0.9 1.2 0.3 2.4 0.7 3.4 1.2 2.5 1.3 3.7 3.2 3.7 5.8 0 2-0.8 3.7-2.3 4.9 -1.6 1.4-3.9 2.1-6.9 2.1 -3.1 0-6-0.7-8.5-2.1 -0.5-0.4-0.8-0.9-0.8-1.4 0-0.6 0.2-1 0.5-1.4 0.4-0.4 0.7-0.6 1.1-0.6s0.9 0.1 1.5 0.4C5.7 101.9 7.7 102.3 9.9 102.3'/%3E%3Cpath style='fill:%234A4A4A' d='M33.6 102.5c0.8 0 1.4-0.1 1.8-0.2 0.4-0.1 0.8-0.2 1.2-0.2s0.8 0.2 1.2 0.5c0.3 0.3 0.5 0.8 0.5 1.4s-0.3 1.1-0.9 1.4c-1.3 0.6-2.5 0.9-3.5 0.9s-1.8 0-2.6-0.1c-0.8-0.1-1.5-0.4-2.3-0.8 -1.7-1-2.6-2.8-2.6-5.3V85.4h-3.3c-0.6 0-0.9-0.3-0.9-0.9 0-0.3 0.2-0.5 0.5-0.7l6.4-6.3c0.3-0.3 0.5-0.4 0.8-0.4s0.5 0.1 0.6 0.3c0.2 0.2 0.2 0.4 0.2 0.7v3.6h5.4c0.5 0 1 0.2 1.3 0.5s0.5 0.8 0.5 1.3 -0.2 1-0.5 1.3 -0.8 0.5-1.3 0.5h-5.4v14.4c0 1.2 0.4 2 1.1 2.4C32.1 102.4 32.7 102.5 33.6 102.5'/%3E%3Cpath style='fill:%234A4A4A' d='M47.2 85.7c2.2-3 4.7-4.4 7.4-4.4h0.2c0.6 0 1.1 0.2 1.5 0.6s0.6 0.9 0.6 1.5 -0.2 1.1-0.6 1.5c-0.4 0.4-0.9 0.5-1.6 0.5h-0.2c-1.6 0-3 0.4-4.2 1.2 -1.2 0.8-2.3 1.8-3.1 3v14.3c0 0.6-0.2 1.1-0.6 1.5 -0.4 0.4-0.9 0.6-1.5 0.6s-1.1-0.2-1.5-0.6 -0.6-0.9-0.6-1.5V83.7c0-0.6 0.2-1.1 0.6-1.5 0.4-0.4 0.9-0.7 1.5-0.7s1.1 0.2 1.5 0.6 0.6 0.9 0.6 1.6C47.2 83.7 47.2 85.7 47.2 85.7z'/%3E%3Cpath style='fill:%234A4A4A' d='M62.2 82c0.4-0.4 0.6-0.6 1.3-0.6 0.6 0 1.1 0.2 1.5 0.6s0.6 0.9 0.6 1.6v20.2c0 0.6-0.2 1.1-0.6 1.5s-0.9 0.6-1.5 0.6 -1.1-0.2-1.6-0.6c-0.4-0.4-0.6-0.9-0.6-1.5V83.7C61.3 83 61.8 82.4 62.2 82zM66 74.4c0 0.7-0.2 1.3-0.7 1.7 -0.5 0.5-1 0.7-1.7 0.7h-0.3c-0.7 0-1.3-0.2-1.7-0.7 -0.4-0.5-0.7-1-0.7-1.7v-0.2c0-0.7 0.2-1.3 0.7-1.7s1-0.7 1.7-0.7h0.3c0.7 0 1.3 0.2 1.7 0.7 0.5 0.5 0.7 1 0.7 1.7V74.4z'/%3E%3Cpath style='fill:%234A4A4A' d='M108.3 100.4c0.7 0.7 1.6 1.2 2.5 1.5s1.9 0.5 2.7 0.5c0.9 0 1.8-0.2 2.7-0.5 0.9-0.3 1.8-0.8 2.5-1.5 1.7-1.5 2.5-3.8 2.5-6.7 0-2.8-0.8-5.1-2.5-6.6 -1.4-1.3-3.2-1.9-5.2-1.9 -3.4 0-5.8 1.5-7.1 4.6 -0.5 1.1-0.7 2.4-0.7 4 0 1.5 0.2 2.9 0.7 4C106.9 98.9 107.5 99.8 108.3 100.4M113.6 81.3c3.7 0 6.6 1.2 8.8 3.5 2.2 2.3 3.3 5.4 3.2 9 0 3.7-1.1 6.7-3.2 9 -2.2 2.3-5.2 3.5-8.8 3.5 -3.7 0-6.6-1.2-8.8-3.5 -2.2-2.3-3.3-5.3-3.3-9 0-3.8 1.1-6.8 3.3-9C106.9 82.4 109.9 81.3 113.6 81.3'/%3E%3Cpath style='fill:%232CB543' d='M77.6 51.3c1.9-0.7 3.4-0.7 4.7-0.1 0.3-0.5 0.5-1 0.8-1.5 0.8-1.7 1.6-3.4 1.9-5.1 0.4-1.8 0.6-3.6 0.6-5.4 0-1.8-0.3-3.6-1.1-5 -0.8-1.4-2.2-2.3-3.8-2.4 -1.6-0.2-3.2 0.6-4.7 1.6 -3 2.1-5.5 4.9-8 7.7s-4.9 5.8-7.4 8.7 -5.1 5.8-8.2 8.2c-1.6 1.2-3.3 2.4-5.5 2.7 -0.3 0-0.6 0.1-0.8 0.1 -0.3 0-0.5 0-0.8 0 -0.5 0-1.1-0.2-1.6-0.3 -1.1-0.3-2.1-1-2.8-1.9 -0.6-0.8-1.1-1.6-1.4-2.5 -0.4 7.3-2 28.5 9.7 22.8 7.6-3.6 13-12.8 18.4-18.9C70.3 56.9 73.6 52.9 77.6 51.3'/%3E%3Cpath style='fill:%2331CB4B' d='M61.7 7.1c-1 3.7-2.5 7.3-4.2 10.7 -0.9 1.7-1.8 3.4-2.7 5.1 -1 1.7-1.9 3.3-3 4.9 -2.2 3.1-4.3 6.3-6.4 9.4 -2 3.2-4 6.4-4.5 9.9 -0.3 1.8-0.4 3.6-0.2 5.4 0.2 1.8 0.7 3.5 1.7 4.7 0.3 0.4 0.7 0.7 1.1 0.9 3.5-5.9 7.9-11.3 11.4-17.2 4.9-8.3 8-16.5 8.2-26.2v-14C63.1 0.1 62.7 3.5 61.7 7.1'/%3E%3Cpath style='fill:%2331CB4B' d='M84.9 50.7c-0.9 1.7-1.8 3.4-2.8 5 -2 3.3-4 6.5-6.4 9.5 -4.4 5.7-8.9 11.2-13.6 16.5 -0.1 0.1-0.2 0.3-0.5 0.8 -0.6 1-0.4 3.2-0.4 3.7v14c0 1 0 1.7 0 2 0.1 0.4 0.8-0.4 1-0.6 6.2-7.5 12.2-15.3 17.4-23.5 3.1-4.8 6.3-9.9 7-15.7 0.4-3.6 0.5-7.5 0.5-10.9 0.1-2.5 0-4.5 0-6.1C86.5 47.3 85.7 49 84.9 50.7z'/%3E%3Cpath style='fill:%234A4A4A' d='M77.5 98.7c2.2 2.4 4.6 3.6 7.5 3.5 3.6 0 6-1.6 7.2-4.8 0.4-1.1 0.6-2.3 0.5-3.7 0-2.7-0.7-4.8-2.1-6.3 -1.4-1.4-3.2-2.1-5.6-2.1 -2.8 0-5.3 1.2-7.5 3.5V98.7zM77.5 84.9c2.3-2.4 5-3.6 8.1-3.6s5.7 1.1 7.8 3.2c2.4 2.4 3.6 5.5 3.6 9.3s-1.2 7-3.6 9.3c-2.2 2.2-4.8 3.2-7.9 3.2 -3 0-5.7-1.2-8-3.6v12c0 0.6-0.2 1.1-0.6 1.6 -0.4 0.4-0.9 0.6-1.5 0.6s-1.1-0.2-1.5-0.6 -0.6-0.9-0.6-1.6V83.6c0-0.6 0.2-1.1 0.6-1.5s0.9-0.6 1.5-0.6 1.1 0.2 1.5 0.6 0.6 0.9 0.6 1.5V84.9z'/%3E%3C/svg%3E") no-repeat 50%;
		height: 135px;
		width: 135px;
		display: inline-block;
	}

	.register-form-button {
		background: #e6e6e6;
		padding: 30px 0 30px 0;
	}

	.login-form {
		background: #f6f6f6;
		padding: 30px;
		border: 1px solid #dddddd;
		border-radius: 17px;
	}

	.company-avatar-preview {
		width: 84px;
		height: 84px;
		border-radius: 50px;
		background: #ffffff;
		overflow: hidden;
	}

	.company-avatar-preview img {
		width: 100%;
	}

	.loader-c {
		width: 100%;
		height: 20px;
		text-align: center;
	}

	.es-email-view .loader-c {
		height: 100%;
		padding-top: 25%;
		background: white;
		z-index: 10;
	}

	.loader-z {
		width: 20px;
		height: 20px;
		margin: 0 auto;
		border-radius: 50%;
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		box-shadow: 1px 1px 0 rgb(49, 203, 75);
		animation: cssload-spin 690ms infinite linear;
		-o-animation: cssload-spin 690ms infinite linear;
		-ms-animation: cssload-spin 690ms infinite linear;
		-webkit-animation: cssload-spin 690ms infinite linear;
		-moz-animation: cssload-spin 690ms infinite linear;
	}

	.btn-success .loader-z {
		box-shadow: 1px 1px 0px #ffffff;
	}

	.notification-zone .alert-info .loader-z {
		box-shadow: 1px 1px 0px #31708f;
	}

	.notification-zone .alert-danger .loader-z {
		box-shadow: 1px 1px 0px #a94442;
	}

	.loader-c.pull-left {
		width: auto;
		margin-right: 15px;
	}

	.loader-c.pull-right {
		width: auto;
		margin-left: 15px;
	}

	@keyframes cssload-spin {
		100% {
			transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-o-keyframes cssload-spin {
		100% {
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-ms-keyframes cssload-spin {
		100% {
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes cssload-spin {
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-moz-keyframes cssload-spin {
		100% {
			-moz-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	.esdev-no-padding-left {
		padding-left: 0;
	}

	.esdev-no-padding-right {
		padding-right: 0;
	}

	.esdev-no-padding {
		padding: 0;
	}
	.esdev-no-margin {
		margin: 0;
	}

	.esdev-no-margin-bottom {
		margin-bottom: 0;
	}
	.esdev-app .esdev-mb0 {
		margin-bottom: 0;
	}

	.esdev-ml15 {
		margin-left: 15px;
	}

	.esdev-mr15 {
		margin-right: 15px;
	}

	.esdev-mt15 {
		margin-top: 15px;
	}

	.esdev-mb15,
	.list-group {
		margin-bottom: 15px;
	}



	.esdev-mb20 {
		margin-bottom: 20px;
	}

	.esdev-mt20 {
		margin-top: 20px;
	}

	.esdev-mt30 {
		margin-top: 30px;
	}

	.esdev-mrl-15 {
		margin-left: -15px;
		margin-right: -15px;
	}

	ol.circled li,
	ul.circled li {
		margin-bottom: 15px;
		position: relative;
	}

	ol.circled {
		counter-reset: myCounter;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.circled li {
		list-style: none;
	}

	.circled li:before {
		counter-increment: myCounter;
		content: counter(myCounter);
		color: white;
		background: #31cb4b;
		display: inline-block;
		text-align: center;
		line-height: 26px;
		width: 25px;
		height: 25px;
		border-radius: 20px;
		left: -40px;
		margin-top: -3px;
		position: absolute;
	}

	.has-error .form-control,
	.has-error .bootstrap-select .dropdown-toggle,
	.has-error .form-control:focus {
		border-color: #f58684;
	}

	.has-error .esdev-event-message {
		display: none;
		background-color: #F58684;
	}

	.has-warning .esdev-event-message {
		display: none;
		background: #8a6d3b;
	}

	.has-success .esdev-event-message {
		display: none;
		background: #2cb543;
	}

	.has-error .esdev-event-message,
	.has-warning .esdev-event-message,
	.has-success .esdev-event-message {
		display: block;
		color: #ffffff;
		border-radius: 15px;
		padding: 2px 9px;
		position: absolute;
		white-space: nowrap;
		margin-top: -57px;
	}

	.has-error .esdev-event-message::after {
		border-top: 10px solid #F58684;
		border-bottom: 10px solid rgba(0, 0, 0, 0);
		border-left: 10px solid rgba(0, 0, 0, 0);
		border-right: 10px solid rgba(0, 0, 0, 0);
		content: "";
		position: absolute;
		z-index: 5;
		left: 10px;
		bottom: -18px;
	}

	.has-error .form-control,
	.has-warning .form-control,
	.has-success .form-control {
		position: relative;
	}

	.has-error .form-control-feedback,
	.has-error .form-control,
	.has-error .bootstrap-select > .dropdown-toggle,
	.has-warning .form-control-feedback,
	.has-warning .form-control,
	.has-warning .bootstrap-select > .dropdown-toggle,
	.has-success .form-control-feedback,
	.has-success .form-control,
	.has-success .bootstrap-select > .dropdown-toggle {
		/*z-index: 4 !important;*/
	}

	.checkbox.has-error .esdev-event-message {
		margin-top: -30px;
		margin-left: -14px;
	}

	.has-feedback label ~ .form-control-feedback {
		top: 24px;
	}

	.esdev-delete-block {
		display: none;
		margin-bottom: -23px;
		line-height: 0.5;
	}

	.template-preview:hover .esdev-delete-block {
		display: block;
		margin-top: 5px;
		margin-right: 5px;
	}

	.esdev-fixed {
		position: fixed;
		z-index: 3;
	}

	.full-height.esdev-fixed {
		height: calc(100% - 65px); /* body has padding top, so fixed panel should be less */
	}

	.mail-left-side {
		margin: 0%
	}

	.settings-right-side {
		right: 0;
	}

	.settings-container {
		min-width: 320px;
	}

	.settings-container,
	.esdev-hide {
		transition: all .3s ease-in-out;
	}

	.btn,
	.btn:hover {
		transition: all .2s ease-in-out;
	}

	.demo-header {
		height: 64px;
		display: table;
	}

	.demo-header p {
		line-height: normal;
		display: table-cell;
		vertical-align: middle;
	}

	.settings-right-side.esdev-hide {
		transform: translateX(1000px);
		overflow: hidden;
	}

	.settings-left-side.esdev-hide {
		transform: translateX(-1000px);
		overflow: hidden;
	}

	.esdev-steps .badge {
		padding: 4px 0px;
		height: 20px;
		width: 20px;
		text-align: center;
	}

	.esdev-steps .badge.active {
		color: #ffffff !important;
		background: #31cb4b !important;
	}

	.esdev-footer {
		background: #f6f6f6;
		margin-top: 90px;
	}
	.esdev-footer:before {
		background: transparent url(../../assets/img/wave-gray.svg) no-repeat 50% 18px;
		background-size: 4850px 91px;
		content: " ";
		width: 100%;
		height: 109px;
		display: block;
		margin-top:-109px;
		position: absolute;
		left: 0;
		z-index: 0;
	}
	.esdev-login-wave {
		margin-top: 0;
	}
	.esdev-login-wave:before {
		margin-top:-108px;
	}
	.esdev-marketing-banner {
		overflow:hidden;
		background-size: cover;
		background-position: 50% 100%, 50% -20px;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%,rgba(0, 0, 0, 0.7) 80%),url();
		background-repeat: no-repeat;
		background-color: #f7f7f7;
	}
	.esdev-marketing-banner-text {
		padding: 30px;
		margin: 0 30px 20px;
		transform: translate(0, -25%);
		color: #fff;
		border-radius: 17px;
		bottom: 0;
		position: absolute;
		text-shadow: 0 0 2px rgba(0,0,0,0.3);
	}
	.esdev-login {
		z-index: 1;
		margin-bottom: 30px;
	}
	.esdev-login .login-form {
		max-width: 380px;
	}
	.esdev-footer .cabinet-footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.modal-footer {
		border-top: 0;
	}

	.esdev-switch {
		position: relative;
		display: block;
		width: 60px;
		height: 34px;
		margin-bottom: 0px;
		float: right;
	}

	.esdev-switch input {
		display: none;
	}

	.esdev-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 34px;
		background-color: #ffffff;
		box-shadow: 0 0 0 1px #cccccc inset;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.esdev-slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		border-radius: 50%;
		left: 4px;
		bottom: 4px;
		background-color: #eaeaea;
		box-shadow: 0 0 0 1px #cccccc inset;
		-webkit-transition: .2s;
		transition: .2s;
	}

	input:checked + .esdev-slider {
		background-color: #32cb4b;
		box-shadow: none;
	}

	input:focus + .esdev-slider {
	}

	input:checked + .esdev-slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
		background: #ffffff;
	}

	.esdev-org-changer li a {
		max-width: 164px;
		min-width: 100%;
	}

	.sort-control .bootstrap-select .dropdown-toggle {
		max-width: 70px;
		min-width: 100%;
	}

	.combined-project-selector .filter-option {
		max-width: 120px;
		min-width: 100%;
	}

	.sort-control .bootstrap-select .dropdown-toggle .filter-option {
		text-overflow: ellipsis;
	}

	.text-overflow,
	.filter-option,
	.actions-btn {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.combined-project-selector .btn-group > .btn {
		float: none;
	}

	.esdev-option-panel .cabinet-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding-right: 30px;
		z-index: -10;
	}

	.cabinet-footer .list-group > .list-group-item {
		padding: 5px 0;
		background: transparent;
		border: 0;
		border-radius: 0;
	}

	.socials a {
		display: inline-block;
	}

	.socials a:last-child span {
		margin-right: 0px !important;
	}

	.social-name {
		max-width: 80%;
		display: inline-block;
		vertical-align: text-bottom;
	}

	.esdev-language-selector {
		z-index: 1;
	}

	@media (max-width: 767px) {
		.demo-header {
			height: 27px;
		}

		.esdev-mob-mb15 {
			margin-bottom: 15px;
		}

		.esdev-mob-mt15 {
			margin-top: 15px;
		}

		.esdev-mob-mb20 {
			margin-bottom: 20px;
		}

		.esdev-mob-pl15 {
			padding-left: 15px !important;
		}

		.esdev-mob-text-left {
			text-align: left;
		}

		.header-menu {
			padding-bottom: 15px;
			padding-right: 0px;
			overflow-y: hidden;
		}

		.navbar-header {
			padding-right: 15px;
		}

		.template-preview img,
		.btn-block-mob,
		.company-menu .dropdown-toggle {
			width: 100%;
		}

		.esdev-no-padding-mob {
			padding: 0;
		}
	}

	.btn-min-width {
		min-width: 120px;
		/*width: 100%;*/
		/*max-width: 120px;*/
	}

	.esdev-plan input[type="number"]::-webkit-outer-spin-button,
	.esdev-plan input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.esdev-plan input[type="number"] {
		-moz-appearance: textfield;
	}

	.esdev-plan {
		padding: 0;
	}

	.esdev-plan table {
		background: #f1f1f1;
		margin-bottom: 0;
		border-radius: 0px 0px 10px 10px;
	}

	.esdev-plan sup {
		font-size: 14px;
		top: -15px;
	}

	.esdev-plan-services {
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}

	.esdev-plan table td,
	.esdev-plan-services table td {
		/*padding: 10px 0px !important;*/
		vertical-align: top !important;
		/*height: 39px;*/
		/*white-space: nowrap;*/
		/*line-height: 1.5 !important;*/
	}

	.esdev-plan-services table {
		background: transparent;
	}

	.esdev-plan table td.esdev-input-count {
		padding-bottom: 0px !important;
		padding-top: 7px !important;
	}

	.esdev-plan .esdev-input-count .input-group {
		width: 90px;
	}

	.esdev-plan .esdev-input-count input {
		padding: 0px;
		height: 23px;
	}

	.esdev-plan .esdev-count-range .btn-xs {
		padding: 1px 2px;
	}

	.esdev-bank-preview-control .pulse,
	.esdev-plan:hover .pulse,
	.list-group-item .pulse {
		box-shadow: 0 0 0 rgba(212, 63, 58, 0.6);
		animation: pulse 2s infinite;
	}

	.pulse-danger {
		box-shadow: 0 0 0 rgba(212, 63, 58, 0.6);
		animation: pulse-danger 2s infinite;
	}
	.plan-titles {
		height: 181px;
	}

	.plan-column .esdev-plan td {
		vertical-align: middle !important;
	}

	.plan-pl-60 {
		padding-left: 60px;
	}

	@media screen and (max-width: 992px) {
		.plan-annually,
		.plan-spacer {
			display: block !important;
		}

		.plan-name {
			height: 200px;
		}

		.plan-titles {
			height: 201px;
		}

		.plan-pl-60 {
			padding-left: 0 !important;
		}
	}

	@media (min-width: 1200px) and (max-width: 1545px) {
		.col-width-100per {
			width: 100% !important;
		}
	}
	@media (min-width: 1400px) {
		.col-width-40per {
			width: 40% !important;
		}
		.col-width-60per {
			width: 60% !important;
		}
	}

	@media (min-width: 768px) and (max-width: 888px) {
		.plan-column,
		.discribe-column {
			width: 25%;
		}
	}

	@media screen and (max-width: 767px) {
		.esdev-mob-no-padding-right {
			padding-right: 0 !important;
		}

		.esdev-mob-no-padding-left {
			padding-right: 0 !important;
		}

		.navbar-collapse {
			padding: 0 !important;
		}

		.header-menu-padding {
			padding: 15px;
		}

		.header-menu-breadcrumbs {
			width: calc(100% - 230px);
		}
	}

	@media screen and (max-width: 600px) {
		.header-menu-breadcrumbs {
			width: 100%;
		}
	}

	.esdev-bank-preview-control .pulse:hover,
	.esdev-plan:hover .pulse:hover {
		animation: none;
	}

	@keyframes pulse {
		0% {
			box-shadow: 0 0 0 0 rgba(44, 169, 44, 0.4);
		}
		70% {
			box-shadow: 0 0 0 15px rgba(44, 169, 44, 0);
		}
		100% {
			box-shadow: 0 0 10px 0 rgba(44, 169, 44, 0);
		}
	}

	@keyframes pulse-danger {
		0% {
			box-shadow: 0 0 0 0 rgba(212, 63, 58, 0.4);
		}
		70% {
			box-shadow: 0 0 0 15px rgba(212, 63, 58, 0);
		}
		100% {
			box-shadow: 0 0 10px 0 rgba(212, 63, 58, 0);
		}
	}

	.tooltip-placeholder {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.tooltip,
	.break-word {
		word-break: break-word;
	}

	.settings-left-side .esdev-option-panel {
		border-right: 1px solid #ddd;
	}

	.settings-right-side .esdev-option-panel {
		border-left: 1px solid #ddd;
	}

	.unsaved-changes-warning {
		padding-right: 5px;
		height: 34px;
		display: flex;
		align-items: center;
	}

	.unsaved-changes-warning > p {
		display: block;
		max-height: 34px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 11px;
		margin: 0;

		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	@media screen and (max-width: 1200px) {

		.unsaved-changes-warning {
			display: none
		}

		.esdev-org-changer {
			float: left !important;
		}
	}

	@media (min-width: 768px) and (max-width: 1400px) {
		.preview-button-name {
			display: none
		}
	}

	.template-controls {
		margin: -35px -4px 4px -4px;
		background: rgba(0, 0, 0, 0.5);
		padding: 4px 0px 7px;
		position: relative;
		transition: margin .2s ease-in-out;
	}

	.saved-block-options:hover .template-controls {
		margin-top: -4px;
		transition: margin .2s ease-in-out;
		transition-delay: 0.3s;
	}

	.template-controls [class^="es-icon-"],
	.nav-pills > li.active > a [class^="es-icon-"],
	.nav-pills > li.active > a:hover [class^="es-icon-"],
	.nav-pills > li.active > a:focus [class^="es-icon-"] {
		color: #ffffff;
		text-shadow: none;
	}

	.template-image {
		height: 0;
		padding-bottom: 75%;
		display: inline-block;
		overflow: hidden;
		z-index: 0;
		position: relative;
		border-radius: 10px 10px 0 0;
		box-shadow: 0px 0px 0px 1px #ddd;
		width: 100%;
		background: #f5f5f5;
		vertical-align: top;
		margin-bottom: -5px;
	}

	.has-top-actions .three-points-top:hover + .template-image .img-responsive,
	.template-image:hover .img-responsive,
	.testing-preview > .template-image:hover {
		box-shadow: 0px 0px 0px 2px #31cb4b;
		border-radius: 10px;

	}

	.cutElement .template-image,
	.selectedElement .template-image {
		box-shadow: 0px 0px 0px 4px #31cb4b !important;
		border-radius: 10px !important;

	}

	.template-image img {
		width: 100%;
	}

	:not(.has-top-actions) .three-points-top:hover + .template-image,
	:not(.cutElement):not(.selectedElement):not(.testing-preview) > .template-image:hover {
		overflow: visible;
		z-index: 1;
		position: relative;
	}

	.template-info {
		box-shadow: 0px 0px 0px 1px #dddddd;
		border-radius: 0 0 10px 10px;
		padding: 12px 10px;
		padding-bottom: 0;
		background-color: #ffffff;

	}
	.template-name {
		text-align: center;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		height: 44px;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		word-break: break-word;
	}
	.template-info .btn-group {
		margin-right:-10px;
		float:right
	}
	.template-info .btn-group .dropdown-toggle {
		box-shadow: none;
		cursor: pointer;
		padding-left:0;
	}
	.template-info .es-icon-testing {
		font-size: 10px;
		margin-right: 10px;
	}
	.template-info .template-lang {
		margin-right: 10px;
	}
	.new-layout {
		background: #ffffff;
		font-size: 40px;
		font-weight: lighter;
		line-height: 133px;
		color: #dedede;
		box-shadow: 0 0px 0px 2px #ededed inset;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		height: 140px;
		border-radius: 10px;
		transition: 0.5s;
	}

	.new-layout:hover {
		color: #a6a6a6;
	}

	.template-name .input-group {
		margin-top: 5px;
	}

	.template-date {
		text-align: center;
		padding:10px 0;
	}

	.template-image:hover .template-controls {
		transition-delay: 0.3s;
		margin-top: 0px;
	}

	.template-controls {
		background: rgba(0, 0, 0, 0.5);
		padding: 8px 3px 10px;
		position: absolute;
		transition: all .2s ease-in-out;
		width: 146px;
		left: 50%;
		margin-left: -73px;
		border-radius: 0px 0px 10px 10px;
		z-index: 2;
		margin-top: -40px;
	}

	.template-controls-overlay {
		width: 100%;
		height: 38px;
		position: absolute;
		overflow: hidden;
		border-radius: 10px;
	}

	.folder-item {
		width: 145px;
		margin-left: auto;
		margin-right: auto;
	}

	.folder-item > .btn-group {
		float: right;
		top: 85px;
		right: 6px;
		z-index: 3;
	}

	.folder {
		-webkit-perspective: 800px;
		-moz-perspective: 800px;
		perspective: 800px;
		z-index: 0;
		width: 160px;
		height: 115px;
		cursor: pointer;
		margin-bottom: 4px;
	}

	.folder .front,
	.folder .back {
		width: 135px;
		height: 115px;
		background-color: #31cb4b;
		border-radius: 5px 5px 4px 4px;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -75px;
		outline: 1px solid transparent;
	}

	.folder .front {
		-moz-transform: rotateX(-30deg);
		-webkit-transform: rotateX(-30deg);
		transform: rotateX(-30deg);
		-moz-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		background-image: -webkit-linear-gradient(#ededed 0%, #dddddd 100%);
		background-image: -o-linear-gradient(#ededed 0%, #dddddd 100%);
		background-image: linear-gradient(#ededed 0%, #dddddd 100%);
		box-shadow: 0 2px rgba(255, 255, 255, 0.7) inset;
		z-index: 10;
		font-size: 24px;
		color: #a6a6a6;
		text-align: center;
		text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
		line-height: 115px;
	}

	.folder .back {
		background-image: -webkit-linear-gradient(#ededed 2%, #dddddd 33%);
		background-image: -o-linear-gradient(#ededed 2%, #dddddd 33%);
		background-image: linear-gradient(#ededed 2%, #dddddd 33%);
	}

	.folder .back:before {
		content: '';
		width: 50px;
		height: 13px;
		border-radius: 4px 4px 1px 1px;
		background-color: #ededed;;
		position: absolute;
		top: -10px;
		left: 15px;
		transform: perspective(38px) rotateX(38deg);
	}

	.folder-item.active .front {
		-moz-transform: rotateX(-50deg);
		-webkit-transform: rotateX(-50deg);
		transform: rotateX(-50deg);
	}

	.folder-item.active .front,
	.selectedElement.folder-item .front {
		background-color: #31cb4b;
		color: #238b34;
		background-image: -webkit-linear-gradient(#31cb4b 0%, #2db543 100%);
		background-image: -o-linear-gradient(#31cb4b 0%, #2db543 100%);
		background-image: linear-gradient(#31cb4b 0%, #2db543 100%);
	}

	.folder-item.active .back,
	.selectedElement.folder-item .back {
		background-image: -webkit-linear-gradient(#31cb4b 2%, #289f3c 33%);
		background-image: -o-linear-gradient(#31cb4b 2%, #289f3c 33%);
		background-image: linear-gradient(#31cb4b 2%, #289f3c 33%);
	}

	.folder-item.active .back:before,
	.selectedElement.folder-item .back:before {
		background-color: #31cb4b;
	}

	.folder-item.active > .btn-group {
		display: none;
	}

	.new-folder .front,
	.new-folder .back {
		background: #ffffff;
		font-size: 40px;
		font-weight: lighter;
		line-height: 100px;
		color: #dedede;
		box-shadow: 0 0px 0px 2px #ededed inset;
	}

	.new-folder .folder:hover .front {
		-moz-transform: rotateX(-30deg);
		-webkit-transform: rotateX(-30deg);
		transform: rotateX(-30deg);
		color: #a6a6a6;
	}

	.folder-item.full .back:after {
		content: '';
		position: absolute;
		width: 135px;
		height: 115px;
		background-color: #ffffff;
		z-index: 2;
		transform: scale(0.9);
		border-radius: 2px;
		box-shadow: 0px 1px 1px;
	}

	.folder-tree {
		background: #ffffff;
		margin: -14px -15px -7px;
		width: 270px;
		overflow: auto;
		max-height: 240px;
		border-bottom: 1px solid #ebebeb;
	}
	.folder-items {
		margin-bottom: 0px;
	}

	.folder-items .list-group-item {
		border: 0;
		border-radius: 0;
	}

	.active-folder {
		box-shadow: 0px 0px 0px 3px #31cb4b !important;
	}
	.folder-item .esdev-checkbox {
		margin: 10px 10px;
		position: absolute;
		left: auto;
		z-index: 2;
		top: 13px;
		opacity:0;
	}
	.folder-item:hover .esdev-checkbox {
		opacity:1;
	}
	.popover-title {
		padding: 8px 15px;
		height: 43px
	}

	.move-popover-content .popover-title {
		border-radius: 26px 26px 0 0;
	}

	.replace-action {
		padding-top: 22px;
	}

	.replace-project-name {
		padding: 4px 0px;
		display: inline-block;
	}

	.template-id {
		color: #777777;
		background: #dddddd;
		margin-right: 2px;
		padding:.5em .5em 0.4em;
	}
	.template-lang .es-icon-lang {
		font-size: 9px !important;
		margin-right: 3px;
	}

	.nav-tabs li a {
		color: #555555;
		padding: 10px 15px;
		background-color: #f6f6f6;
		border-color: transparent transparent #ddd;
	}

	ol.help-block,
	ul.help-block {
		padding-left: 15px;
	}

	ol.help-block li,
	ul.help-block li {
		margin-bottom: 10px;
	}

	pre {
		color: #D5D7D7;
		background-color: #333333;
		border: 1px solid #1f1f1f;
		border-radius: 10px;
		margin-top: 10px;
		word-break: break-word;
		white-space: pre-wrap;
		max-height: 330px;
		overflow-y: auto;
	}

	pre a.btn {
		visibility: hidden;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}

	pre:hover a.btn {
		visibility: visible;
	}
	pre [class^="es-icon-"] {
		text-shadow: none;
		margin-left: -24px;
	}
	pre.amp-validator code {
		background-color: rgba(249, 242, 244, 0.15);
		color: inherit;
	}
	pre .list-unstyled {
		margin-left: 24px;
	}
	pre .list-unstyled li {
		margin-bottom: 15px;
	}
	*::selection {
		background: #BFE8C6;
	}

/*.esdev-dyn-structure {
	border-radius:10px  30px 30px 10px !important;
	}*/
	.opened-folders .panel-title a {
		display: block;
		text-decoration: none;
		color: #555555;
		font-size: 14px;
	}

	.opened-folders .panel {
		background-color: #f6f6f6;
		border: 0;
		box-shadow: none;
		border-radius: 17px;
	}

	.opened-folders .panel-body {
		border: 0 !important;
		padding: 15px 20px 0px;
	}

	.opened-folders .panel-heading {
		background: #f6f6f6 !important;
		border-radius: 17px;
		padding: 10px 12px 10px 15px;
	}

	.opened-folders .panel-title .badge {
		margin-top: 1px;
	}

	.btn.text-left {
		text-align: left;
	}

	.grouped-inputs {
		width: 100%;
	}

	.grouped-inputs > .input-group-btn:empty {
		width: 0px;
	}

	.grouped-inputs .input-group-btn + .form-control {
		margin-left: -1px;
	}

	.grouped-inputs .input-group-btn:last-child > .btn {
		margin-left: -2px;
	}

	#headerSaveButton {
		width: 46px;
	}

	.settingsPopup form,
	.settingsPopup .form {
		padding: 15px 15px 0;
	}

	.settingsPopup {
		position: absolute;
		top: -1px;
		z-index: 1;
		left: calc(50% + 1px);
		transform: translate(-50%, 0%);
		max-width: 600px;
		width: 100%;
		background-color: #f6f6f6;
		background-clip: padding-box;
		border-radius: 0px 0px 17px 17px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px, 0px 6px 15px -6px rgba(0, 0, 0, 0.176) inset;
	}

	.settingsPopup hr {
		margin-left: -15px;
		margin-right: -15px;
		margin-top: 0 !important;
	}

	.settingsPopup label {
		font-weight: normal;
	}

	.settingsPopup p.small {
		margin: 0;
	}

	.settingsPopup .file-input {
		opacity: 0;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		cursor: pointer;
		z-index: 0;
		font-size: 0;
	}

	.settingsPopup .es-icon-restore {
		z-index: 0;
		cursor: pointer;
	}

	.settingsPopup .time-zone .dropdown-menu ul {
		max-height: 180px !important;
	}

	.settingsPopup .time .dropdown-menu ul {
		max-height: 230px !important;
	}

	.esdev-image-view {
		height: 110px;
		width: 110px;
		margin-right: 5px;
		margin-bottom: 0;
		overflow: hidden;
	}

	.esdev-desktop-device {
		background: #ffffff;
		border: 2px solid #e8e8e8;
		font-size: 0;
		position: relative;
		border-radius: 10px 10px 3px 3px;
	}

	.esdev-desktop-device:before {
		content: "―–";
		display: block;
		background: #e8e8e8;
		position: absolute;
		margin-top: 16px;
		border-radius: 10px;
		margin-left: 47px;
		font-size: 73px;
		color: #e8e8e8;
		line-height: 0;
		font-family: sans-serif;
	}

	.esdev-email-user-avatar {
		float: left;
		color: #e8e8e8 !important;
		text-shadow: none !important;
		font-size: 16px !important;
	}

	.esdev-email-window-panel {
		padding: 15px 15px 12px;
		border-bottom: 1px solid #e8e8e8;
		font-size: 14px;
		min-height: 58px;
	}

	.esdev-mobile-view {
		border-left: 1px solid #ddd;
		overflow: hidden;
	}

	.esdev-email-subject {
		padding-left: 13px;
		padding-top: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.esdev-mobile-device {
		top: 50%;
		position: relative;
		height: 698px;
		width: 344px;
		border-radius: 40px;
		padding: 50px 10px 60px;
		background: #fff;
		border: 2px solid #e8e8e8;
	}

	.esdev-mobile-device-screen {
		box-shadow: 0 0 0 1px #e8e8e8;
		border-radius: 2px;
		overflow: hidden;
		height: 568px;
	}

	.esdev-mobile-device-screen .esdev-mail-bottom-bar {
		margin-top: -5px;
	}

	.esdev-mobile-device:after {
		position: absolute;
		bottom: 13px;
		left: 50%;
		margin-left: -24px;
		width: 50px;
		height: 50px;
		border-radius: 30px;
		border: 2px solid #e8e8e8;
		content: " ";
		display: block;
	}

	.esdev-mobile-device:before {
		position: absolute;
		top: 22px;
		left: 50%;
		margin-left: -30px;
		width: 60px;
		background: #e8e8e8;
		height: 8px;
		border-radius: 20px;
		content: " ";
		display: block;
	}

	.breadcrumb {
		margin-bottom: 0;
		padding: 8px 5px;
	}

	.breadcrumb > li {
		float: left;
	}

	.breadcrumb li:last-child span {
		overflow: hidden;
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.breadcrumb > li > a {
		max-width: 200px;
		display: inline-block;
	}

	.breadcrumb > li + li:before {
		content: "\E930";
		font-family: fontello;
		transform: rotate(180deg);
		display: inline-block;
		float: left;
	}
	.folder-breadcrumb > li:last-child {
		width: calc(100% - 400px);
	}
	.folder-breadcrumb > li > a {
		display: block;
	}

	.folder-breadcrumb {
		padding:0;
	}
	.grayscale {
		-webkit-filter: grayscale(1);
		filter: gray;
		filter: grayscale(1);
		opacity: 0.5;
	}

	.grayscale:hover {
		-webkit-filter: grayscale(0);
		filter: none;
		filter: grayscale(0);
		opacity: 1;
	}

	.sticky-content {
		min-height: calc(100vh - 180px);
	}

	.sticky-footer {
		height: 165px;
	}

	.cutElement {
		opacity: 0.3;
	}

	.langSwitcher > li > a {
		padding: 2px 7px;
		font-size: 11px;
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.esdev-count-range {
		max-width: 100px;
	}

	.esdev-count-range input {
		padding-left: 0px;
		padding-right: 0px;
		min-width: 34px;
	}

	.esdev-count-range button {
		padding: 6px;
	}

	.esdev-blocks-settings .thumbnail.esdev-block {
		font-size: 12px;
		padding: 23px 4px;
		height: 89px;
		width: 96px;
		margin-bottom: 13px;
	}

	.esdev-blocks-settings .esdev-switch {
		float: none;
	}

	.esdev-blocks-settings > div {
		max-width: 105px;
		margin-bottom: 20px;
	}

	.esdev-blocks-settings.esdev-font-option .esdev-block {
		padding: 4px;
		cursor: default;
	}

	.esdev-blocks-settings {
		margin: 0 -5px;
	}

	.esdev-font-option .esdev-block h4 {
		line-height: 1;
	}

	.export-to-esp {
		margin-bottom: -11px;
	}

	.esdev-block:hover .custom-block-control {
		margin-top: -4px;
		transition: margin .2s ease-in-out;
		transition-delay: 0.3s;
	}

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.esdev-block.hovered .custom-block-control {
			margin-top: -4px;
			transition: margin .2s ease-in-out;
			transition-delay: 0.3s;
		}
	}

	div.export-to-esp .thumbnail {
		width: 154px;
		display: inline-block;
		margin: 0 8px 18px;
		white-space: nowrap;
		cursor: pointer;
		height: 74px;
		text-align: center;
		vertical-align: top;
	}

	.export-to-esp .thumbnail img {
		width: 40px;
		min-height: 40px;
	}

	.export-to-esp.esp-popular .thumbnail {
		height: 144px;
		position: relative;
	}

	.export-to-esp.esp-popular .thumbnail img {
		width: 100px;
		min-height: 100px;
	}

	.export-to-esp .thumbnail:hover {
		border: 1px solid #31cb4b;
		transition: all .2s ease-in-out;
		box-shadow: 0px 0px 0px 1px #31cb4b;
	}

	.esp-popular .thumbnail .badge,
	.esp-popular .add-new-esp-acc {
		position: absolute;
		right: 0;
		margin-right: 7px;
		margin-top: 2px;
	}

	.esp-popular .delete-esp-acc {
		position: absolute;
		left: 0;
		margin-left: 7px;
		visibility: hidden;
	}

	.esp-popular .thumbnail:hover .delete-esp-acc {
		visibility: visible;
	}

	.esp-account .close {
		display: none;
	}

	.esp-account:hover .close {
		display: inline-block;
		line-height: 0.8;
	}

	.esp-account {
		line-height: normal;
	}

	.esp-account span.text-muted {
		float: left;
	}

	.connected-acc {
		width: 244px;
		max-height: 190px;
		overflow: auto;
	}

	.connected-acc .es-icon-user-account {
		margin-bottom: 5px;
	}

	.esdev-icon-plus {
		margin-bottom: -14px;
	}

	.html-export-preview {
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: 50% 0;
		padding: 0;
		width: 100%;
		height: 0;
		margin-bottom: 0;
		padding-bottom: calc(100% - 2px);
		box-shadow: 0 -25px 23px -9px #f6f6f6 inset;
	}
	.html-export-preview-group {
		box-shadow: 3px 3px 0px white, 4px 4px 0px white, 5px 5px 0px #dddddd, 6px 6px 0px white, 9px 9px 0px white, 10px 10px 0px #dddddd,0 -25px 23px -9px #f6f6f6 inset;
	}

	.overflow-y-scroll {
		overflow-y: scroll;
	}

	.privacy-policy-accept,
	.privacy-policy-decline {
		min-width: 150px;
	}

	.privacy-policy-accept {
		margin-right: 15px;
	}

	html {
		overflow-y: hidden;
	}

	html.esdev-back {
		overflow-y: auto;
		background: #f6f6f6;
	}

	.esdev-app .colorpicker.dropdown-menu {
		position: absolute;
		left: calc(100% - 146px - 15px);
		min-width: auto;
	}

	.colorpicker.esdev-disable-transparency .colorpicker-selectors i:first-child {
		cursor: not-allowed;
	}

	.alert-info .alert-link {
		color: #104967 !important;
	}

	.alert-warning .alert-link {
		color: #af6600  !important;
	}

	.alert-warning .alert-link {
		color: #af6600 !important;
	}

	.btn-default:focus, .btn-default.focus {
		/*background-color: #ffffff !important;*/
	}

	.overflowY-visible {
		overflow-y: visible !important;
	}

	.overflowY-hidden {
		overflow-y: hidden !important;
	}

	.content-hidden {
		overflow: hidden;
		visibility: hidden;
		height: 0;
	}

	.esdev-invisible {
		opacity: 0 !important;
	}
	#showSettings {
		overflow: auto;
		max-height: calc(100vh - 144px);
	}
	.custom-addon {
		display: inline-block;
		width: auto;
		line-height: 1.42857143;
		z-index: 0 !important;
		cursor: text;
	}
	.esdev-srt-zones {
		background-color: #f6f6f6;
	}
	.esdev-srt-zones iframe {
		display: block;
	}

	.template-selector-c span.text {
		margin-right: 64px !important;
		width: 100%;
	}
	.template-selector-c .badge {
		float: right;
		margin-right: 30px;
	}

	.template-selector {
		z-index: 1060;
	}
	.template-selector span.text {
		margin-right: 64px !important;
		width: 100%;
	}
	.template-selector .badge {
		float: right;
		margin-right: 30px;
	}
	.choosed-categories .close {
		line-height: 0;
		top: 1px;
		position: relative;
		float: none;
	}
	.choosed-categories > span {
		margin-right: 10px;
		white-space: nowrap;
	}
	.testing-preview.opened .template-image {
		height: auto;
		padding-bottom: 0;
		min-height: 200px;
	}
	.testing-preview .template-name {
		height: 22px;
	}
	#emailTesting .modal-dialog{
		overflow: hidden;
	}
	#emailTesting .modal-content{
		height: 100%;
		margin-top: 65px;
	}
	#emailTesting .modal-body {
		overflow: scroll;
		padding-top: 0px;
		height: calc(100% - 65px);
	}
	.esdev-centered {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
	}
	.testing-preview .template-image {
		background: #ffffff;
		vertical-align: inherit;
		margin-bottom: 0px;
		border-radius: 10px;
	}
	.testing-preview .template-date {
		padding:0;
	}
	.fullscreen-toggle {
		visibility: visible;
	}
	.collapsed .fullscreen-toggle {
		visibility: hidden;
	}
	.template-image .esdev-checkbox {
		opacity: 0;
		margin: 10px 10px;
		position: absolute;
		left: 0px;
	}
	.template-image:hover .esdev-checkbox {
		opacity: 1;
	}

/*.
Расскоментировать когда будет работать множественное выделение

panel-group:hover .panel-title .es-icon-project,
.panel-group .panel-title .esdev-checkbox {
	opacity:0;
	position: absolute;
}
.panel-group:hover .panel-title .esdev-checkbox,
.active-folder .panel-title .esdev-checkbox {
	opacity:1;
	position: relative;
}
*/

.group-selected label {
	font-weight: normal;
}
.modules-filter .dropdown-menu.open {
	min-width: 220px !important;
}
.vertical-middle {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.previewComponent .template-image {
	border-radius: 10px;
}
#exportPopup .modal-dialog {
	width:1070px;

}
#exportPopup .modal-body {
	max-height: 640px;
	overflow-y: auto;
	padding-bottom: 0px;
}
#exportPopup .h4 {
	padding: 0px 10px;
}
.premium .es-icon-premium {
	position: absolute;
	margin-left: 5px;
	margin-top: 6px;
}

.esdev-app .modules-filter .dropdown-menu a {
	line-height: 22px;
	min-width: 210px;
}

.project-id {
	color: #777777;
	background: #dddddd;
}

.project-id--archived {
	color: #fff;
	background: #f0ad4e;
}

.company-menu ul li a:hover span.project-id,
.company-menu ul li a:hover span.project-id--archived {
	margin-right: 10px;
	margin-top:1px;
}

.dropdown-menu label {
	font-weight: normal;
}
