/* this fix for ckeditor jumping scroll, when a user adds a lot of new lines */
html, body {
    height: auto !important;
    overflow-x: visible !important;
}

body {
    background: white; // default background visible only if email background is transparent
}

body.esdev-mobile-view > div {
    pointer-events: none;
}

body.esdev-mobile-view .esd-mobile-hidden{
    display: none;
}

div.cke_focus:focus {
    outline: 0px none currentColor !important;
    outline-offset: 0px !important;
}

[class^="es-icon-"] {
    font-size: 12px;
}

.esd-stripe {
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.esd-drag-structure .esd-stripe .esd-structure:not(.esd-extension-internal-block),
.esd-drag-stripe .esd-stripe {
    box-shadow: 0px 1px 0 #8AB7EC inset;
}

.esd-drag-structure [class*="esd-block-"],
.esd-drag [class*="esd-block-"],
.esd-drag-amp-form-container [class*="esd-block-"],
.esd-drag-stripe .esd-stripe > table {
    opacity: 0.4;
}

.esd-frame.esd-hover.esd-activated,
.esd-frame.esd-active {
    position: relative;
    border-collapse: separate;
    display: table-cell;
    /*border-radius: 1px;*/
}
.esd-stripe.esd-hover.esd-activated:not(.esd-dynamic-element),
.esd-stripe.esd-active:not(.esd-dynamic-element),
.esd-stripe-draggable-target,
.esd-structure.esd-hover.esd-activated:not(.esd-dynamic-element),
.esd-structure.esd-active:not(.esd-dynamic-element) {
    display: block !important;
}

.esd-srt .esd-stripe.esd-frame.esd-hover.esd-activated {
    box-shadow: none;
    outline: none;
}

.esd-frame.esd-hover.esd-activated,
.esd-frame-element.esd-hover-element:hover,
.esd-stripe-draggable-target {
    /*box-shadow: 0px 0px 0px 2px #b3b3b3;*/
    outline: 2px solid #b3b3b3;
}

[esd-dynamic-block] .esd-frame-element.esd-hover-element:hover {
    box-shadow: none !important;
    outline: none !important;
}

.esd-frame.esd-active,
.esd-frame-element.esd-active {
    /*box-shadow: 0px 0px 0px 2px #666666 !important;*/
    outline: 2px solid #666666 !important;
}

.esd-block-spacer .esd-spacer-resizer {
    font-size: 16px;
    line-height: initial;
    position: absolute;
    display: inline-block;
    background: #666666;
    color: #ffffff;
    left: 50%;
    padding: 4px 5px 5px 8px;
    border-radius: 19px;
    bottom: 0;
    margin-bottom: -13px;
    margin-left: -32px;
    cursor: ns-resize;
    display: none;
}

.esd-activated .esd-add-stripe {
    background: #b3b3b3;
}

.esd-active .esd-add-stripe,
.esd-activated .esd-add-stripe:hover {
    background: #666666;
}

.esd-add-stripe {
    background: #666666;
    width: 40px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: -21px;
    height: 40px;
    margin-left: 10px;
    z-index: 99999;
}

.esd-stripe.esd-align-left>.esd-structure-type,
.esd-stripe.esd-align-left .esd-add-stripe {
    right: 0;
    left: auto;
}

..esd-message-small-gap .esd-container-frame > .esd-block-btn > div,
.esd-align-left .esd-container-frame > .esd-block-btn > div {
    float: left !important;
}

.esd-message-small-gap .esdev-amp-form-container > .esd-block-btn > div:last-child > a,
.esd-message-small-gap .esd-container-frame > .esd-block-btn > div:last-child > a,
.esd-align-left .esdev-amp-form-container > .esd-block-btn > div:last-child > a,
.esd-align-left .esd-container-frame > .esd-block-btn > div:last-child > a {
    border-radius: 0px 20px 20px 0px !important;
    padding-left: 9px;
    padding-right: 11px;
}

.esd-message-small-gap .esdev-amp-form-container > .esd-block-btn > div.esd-more > a,
.esd-message-small-gap .esd-container-frame > .esd-block-btn > div.esd-more > a,
.esd-align-left .esdev-amp-form-container > .esd-block-btn > div.esd-more > a,
.esd-align-left .esd-container-frame > .esd-block-btn > div.esd-more > a {
    padding-left: 10px;
    padding-right: 9px;
}

.esd-message-small-gap .esdev-amp-form-container.esd-hover > .esd-block-btn,
.esd-message-small-gap .esdev-amp-form-container.esd-active > .esd-block-btn,
.esd-message-small-gap .esd-container-frame.esd-hover > .esd-block-btn,
.esd-message-small-gap .esd-container-frame.esd-active > .esd-block-btn,
.esd-align-left .esdev-amp-form-container.esd-hover > .esd-block-btn,
.esd-align-left .esdev-amp-form-container.esd-active > .esd-block-btn,
.esd-align-left .esd-container-frame.esd-hover > .esd-block-btn,
.esd-align-left .esd-container-frame.esd-active > .esd-block-btn {
    right: auto !important;
    border-radius: 0 20px 20px 0px !important;
    margin-left: -1px;
    z-index: 99999;
}
.esd-message-small-gap.esd-stripe.esd-hover > .esd-block-btn,
.esd-message-small-gap.esd-stripe.esd-active > .esd-block-btn,
.esd-align-right.esd-stripe.esd-hover > .esd-block-btn,
.esd-align-right.esd-stripe.esd-active > .esd-block-btn {
    left: 0;
    right: auto;
    margin-left: -1px;
    border-radius: 0 20px 20px 0;
}

.esd-message-small-gap.esd-stripe > .esd-block-btn > div,
.esd-align-right.esd-stripe > .esd-block-btn > div {
    float: left !important;
}
.esd-message-small-gap.esd-stripe > .esd-block-btn > div:last-child > a,
.esd-align-right.esd-stripe > .esd-block-btn > div:last-child > a {
    border-radius: 0px 20px 20px 0px !important;
    padding-left: 9px;
    padding-right: 11px;
}
.esd-align-right.esd-stripe > .esd-block-btn > div.esd-more > a{
    padding-left: 10px;
    padding-right: 9px;
}

.esd-message-small-gap .esd-structure.esd-hover > .esd-block-btn,
.esd-message-small-gap .esd-structure.esd-active > .esd-block-btn,
.esd-message-small-gap .esd-block.esd-hover > .esd-block-btn,
.esd-message-small-gap .esd-block.esd-active > .esd-block-btn,
.esd-align-right .esd-structure.esd-hover > .esd-block-btn,
.esd-align-right .esd-structure.esd-active > .esd-block-btn,
.esd-align-right .esd-block.esd-hover > .esd-block-btn,
.esd-align-right .esd-block.esd-active > .esd-block-btn {
    right: 0;
    left: auto;
    width: auto;
    border-radius: 20px 0 0 20px;
}

.esd-message-small-gap .esd-structure > .esd-block-btn > div,
.esd-message-small-gap .esd-block > .esd-block-btn > div,
.esd-align-right .esd-structure > .esd-block-btn > div,
.esd-align-right .esd-block > .esd-block-btn > div {
    float: right !important;
}

.esd-message-small-gap .esd-structure >.esd-block-btn > div:last-child > a,
.esd-message-small-gap .esd-block >.esd-block-btn > div:last-child > a,
.esd-align-right .esd-structure >.esd-block-btn > div:last-child > a,
.esd-align-right .esd-block >.esd-block-btn > div:last-child > a {
    border-radius: 20px 0px 0px 20px !important;
    padding-right: 9px;
    padding-left: 10px
}

.esd-structure-type {
    float: left;
    background: #b3b3b3;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -19px;
    padding: 3px 5px;
    color: #ffffff;
    font-size: 11px;
    border-radius: 8px 8px 0px 0px;
    cursor: default;
    height: 12px;
    line-height: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 10px);
    overflow: hidden;
}

.esd-hidden-element,
.esd-mime-element,
.esd-sync-element,
[esd-custom-display-condition] {
    /*box-shadow: 0px 0px 0px 2px rgba(238, 162, 54, 0.8);*/
    outline: 2px solid rgba(238, 162, 54, 0.8);
    position: relative;
    border-radius: 1px;
}

.esd-conditional-block-label {
    right: 30px;
    background: rgba(238, 162, 54, 0.8);
    top: 0px;
    border-radius: 0px 0px 8px 8px;
    padding: 2px 6px 4px;
    position: absolute;
    color: #ffffff;
    font-size: 11px;
    cursor: default;
    height: 12px;
    line-height: normal;
    z-index: 9999999;
}

.esd-conditions-hover-popup {
    z-index: 9999999;
}

.esd-conditions-hover-popup .es-icon-edit,
.esd-conditions-hover-popup .es-icon-delete {
    cursor: pointer;
}

.esd-hidden-status {
    right: 0;
    background: rgba(238, 162, 54, 0.8);
    top: 0px;
    border-radius: 0px 0px 0px 8px;
    padding: 2px 6px 4px;
    position: absolute;
    color: #ffffff;
    font-size: 11px;
    cursor: default;
    height: 12px;
    line-height: normal;
    z-index: 1000;
}

.esd-mime-type {
    left: 0;
    background: rgba(238, 162, 54, 0.8);
    top: 0px;
    border-radius: 0px 0px 8px 0px;
    padding: 2px 6px 4px;
    position: absolute;
    color: #ffffff;
    font-size: 11px!important;
    cursor: default;
    height: 12px;
    line-height: normal;
    z-index: 999;
    margin-top: 0!important;
}
.esd-sync-module {
    right: 0;
    background: rgba(238, 162, 54, 0.8);
    bottom: 0px;
    border-radius: 8px 0px 0px 0px;
    padding: 4px 6px 3px;
    position: absolute;
    color: #ffffff;
    font-size: 11px;
    cursor: default;
    height: 12px;
    line-height: normal;
    z-index: 10000;
}
.esd-structure-type .es-icon-cog,
.esd-hidden-status .es-icon-eye-hide,
.esd-hidden-status .es-icon-hide-on-desktop,
.esd-hidden-status .es-icon-hide-on-mobile,
.esd-mime-type .es-icon-amp,
.esd-sync-module .es-icon-sync,
.esd-structure-type .es-icon-condition,
.esd-conditional-block-label .es-icon-condition
{
    font-size: 7px;
}

.esd-structure-type .es-icon-cog:before,
.esd-mime-type .es-icon-amp:before,
.esd-sync-module .es-icon-sync:before,
.esd-structure-type .es-icon-condition:before {
    top: 0;
}

.esdev-amp-form-container > .esd-structure-type,
.esd-frame.esdev-amp-form-container.esd-active > .esd-structure-type,
.esd-container-frame > .esd-structure-type,
.esd-frame.esd-container-frame.esd-active > .esd-structure-type {
    background: #ffffff;
    left: auto;
    right: 0;
    border: 1px solid #8ab7ec;
    color: #8ab7ec;
    top: -20px;
    height: 12px;
}

.esd-add-stripe-button-animation {
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
}

.esd-add-stripe > a {
    color: #fff;
    padding: 11px 9px 15px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    transition: all .2s ease-in-out;
}

.esd-frame:before,
.esd-frame:after {
    content: " ";
    display: table;
}

.esd-frame:after {
    clear: both;
}

.esd-active {
    z-index: 9999;
}

.esdev-amp-form-container.esd-hover.esd-activated,
.esdev-amp-form-container.esd-active,
.esd-drag .esdev-amp-form-container,
.esd-frame.esd-container-frame.esd-hover.esd-activated,
.esd-frame.esd-container-frame.esd-active,
.esd-drag .esd-container-frame:not(.esd-extension-internal-block),
.esd-drag .esd-insideblock-dropzone.ui-droppable-active,
.esd-drag .esd-amp-accordion,
.esd-drag-amp-form-container .esd-amp-form{
    /*box-shadow: 0 0 0 1px #8AB7EC !important;*/
    outline: 1px solid #8AB7EC !important;
}

.esd-frame.esd-container-frame.esd-hover.esd-activated > .esd-block-btn,
.esd-frame.esd-container-frame.esd-active > .esd-block-btn,
.esd-frame.esdev-amp-form-container.esd-hover.esd-activated > .esd-block-btn,
.esd-frame.esdev-amp-form-container.esd-active > .esd-block-btn {
    background: #fff;
    border: 1px solid #8AB7EC;
    left: auto;
    display: block;
    right: 100%;
    border-radius: 20px 2px 2px 20px;
    margin-top: -22px;
}

.esd-container-frame > .esd-block-btn > div,
.esdev-amp-form-container > .esd-block-btn > div,
.esd-stripe > .esd-block-btn > div,
.esdev-amp-form-container .esd-structure-type,
.esd-container-frame .esd-structure-type {
    float: right !important;
}

.esd-frame.esd-container-frame > .esd-block-btn a,
.esd-frame.esdev-amp-form-container > .esd-block-btn a,
.esd-block-icons a {
    color: #8AB7EC !important;
}

.esd-empty-container .esd-block-icons {
    opacity: 0;
    transition: all .2s ease-in-out;
    margin-top: -24px;
    display: block;
    height: 24px;
}

.esd-empty-container:hover .esd-block-icons {
    opacity: 1;
    margin-top: 0px;
    height: auto;
}

.esd-empty-container .esd-block-icons a:hover {
    opacity: 1;
    color: #8AB7EC !important;
}

.esd-empty-container .esd-block-icons a {
    opacity: 0.4;
    cursor: pointer;
}

.esd-empty-container .es-icon-drop-here,
.esd-empty-container .esd-block-icons a {
    padding: 4px;
    display: inline-block;
}

.esd-block-btn > div > a {
    color: #ffffff;
    padding: 12px 9px 15px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 20px;
}

.esd-block-btn > div > a:hover {
    background: rgba(0, 0, 0, 0.2);
    color:#ffffff !important;
}

.esd-container-frame > .esd-block-btn > div > a:hover,
.esdev-amp-form-container > .esd-block-btn > div > a:hover {
    background: rgba(138, 183, 236, 0.2);
    color: #8AB7EC !important;
}

.esd-block-btn > div:last-child > a {
    border-radius: 0px 20px 20px 0px;
    padding-right: 11px;
}

.esdev-amp-form-container > .esd-block-btn > div:last-child > a,
.esdev-amp-form-container > .esd-block-btn > div.esd-more > a,
.esd-container-frame > .esd-block-btn > div:last-child > a,
.esd-container-frame > .esd-block-btn > div.esd-more > a {
    padding-left: 12px;
    padding-right: 8px;
}

.esd-stripe > .esd-block-btn > div:last-child > a {
    border-radius: 20px 0px 0px 20px;
    padding-left: 11px;
}

.esd-block-btn > div.esd-more > a:hover {
    background: none;
}

.esd-stripe > .esd-block-btn > div.esd-more > a {
    padding-left: 12px;
    padding-right: 8px;
}

.esd-block-btn > div:nth-of-type(2) > a {
    margin-left: 2px;
}

.esd-block-btn.esd-activated > div:nth-of-type(2),
.esd-block-btn > .esd-more {
    margin-left: -2px;
}

.esd-block-btn.esd-activated > div,
.esd-block-btn-hover > div {
    display: inline-block;
    float: left;
}

.esd-block-btn.esd-activated,
.esd-block-btn-hover {
    width: 116px;
    z-index: 99999;
}

.esd-hover.esd-activated {
    z-index: 9999;
}

.esd-stripe.esd-hover.esd-activated {
    z-index: unset;
}

.esd-container-frame > .esd-block-btn.esd-activated,
.esd-structure > .esd-block-btn.esd-activated,
.esd-block-btn-hover {
    width: 154px;
}

.esdev-amp-form-container > .esd-block-btn.esd-activated {
    width: 40px;
}

.esd-block-amp-form-submit > .esd-block-btn.esd-activated {
    width: 40px;
}
.esd-srt {
    overflow-y: hidden;
}

.esd-srt .esd-container-frame .esd-copy,
.esd-srt .esd-container-frame .esd-save,
.esd-srt .esd-structure .esd-save{
    display: none;
}

.esd-srt .esd-container-frame > .esd-block-btn.esd-activated {
    width: 78px;
}

.esd-srt .esd-structure > .esd-block-btn.esd-activated {
    width: 117px;
}

.esd-block-btn.esd-activated.esd-block-context-menu-3,
.esd-block-btn-hover .esd-block-context-menu-3 {
    width: 117px;
}

.esd-block-btn.esd-activated.esd-block-context-menu-4,
.esd-block-btn-hover .esd-block-context-menu-4 {
    width: 155px;
}

.esd-block-btn.esd-activated.esd-block-context-menu-5,
.esd-block-btn-hover .esd-block-context-menu-5 {
    width: 195px;
}

.esd-frame > .esd-block-btn {
    left: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    display: none;
    z-index: 99999;
    margin-left: 2px;
    top: 50%;
    margin-top: -21px;
    border-radius: 1px 20px 20px 1px;
}

.esd-frame > .esd-block-btn.esd-activated,
.esd-frame.esd-active > .esd-block-btn,
.esd-frame.esd-active > .esd-structure-type,
.esd-block.esd-active .esd-structure-type.active {
    background: #666666;
}

.esd-block .esd-hover.esd-activated {
    z-index: 999999;
}

.esd-container-frame > .esd-block-btn > div:last-child > a,
.esdev-amp-form-container > .esd-block-btn > div:last-child > a {
    border-radius: 20px 0px 0px 20px;
}

.esd-stripe.esd-hover > .esd-block-btn,
.esd-stripe.esd-active > .esd-block-btn {
    right: 0;
    left: auto;
    width: auto;
    border-radius: 20px 0 0 20px;
}

.esd-hover.esd-activated > .esd-block-btn,
.esd-active > .esd-block-btn,
.esd-block-spacer:hover .esd-spacer-resizer,
.esd-block-spacer.esd-active .esd-spacer-resizer,
.esd-stripe.esd-active .esd-add-stripe,
.esd-stripe.esd-hover.esd-activated .esd-add-stripe,
.esd-stripe.esd-hover.esd-activated > .esd-structure-type,
.esd-stripe.esd-active > .esd-structure-type,
.esd-structure.esd-hover.esd-activated > .esd-structure-type,
.esd-structure.esd-active > .esd-structure-type,
.esd-container-frame.esd-hover.esd-activated > .esd-structure-type,
.esd-container-frame.esd-active > .esd-structure-type,
.esdev-amp-form-container.esd-active > .esd-structure-type,
.esdev-amp-form-container.esd-hover.esd-activated > .esd-structure-type,
.esd-extension.esd-hover.esd-activated > .esd-structure-type,
.esd-extension.esd-active > .esd-structure-type,
.esd-block.esd-active .esd-structure-type {
    display: block;
}
.esd-ai-structure-type {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
 }
.esd-ai-structure-type .esd-structure-type {
    position: relative;
    float: left;
    cursor: pointer;
}
.esd-move,
.esd-delete,
.esd-copy,
.esd-conditions,
.esd-external-menu-item,
.esd-add-stripe,
.esd-spacer-resizer,
.esd-save,
.esd-block-btn.esd-activated > .esd-more,
.esd-block-btn-hover > .esd-more,
.esd-structure-type,
.fake-cke-text,
.esd-hide {
    display: none;
}

.esd-placement {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 9999;
}

.esd-placement-dark {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.8);
}

.esd-plc-label {
    background: rgba(0, 0, 0, 1);
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -53px;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    margin-top: -10px;
    border-radius: 18px;
    min-width: 100px;
    white-space: nowrap;
}

.esd-placement-dark .esd-plc-label {
    background: rgba(255, 255, 255, 1);
    color: black;
}

.esd-empty-container .esd-plc-label {
    margin-top: -3px;
}

.esd-empty-container,
.esd-block-spacer .esd-spacer-resizer,
.esd-structure-type,
.esd-plc-label,
.esd-dynamic-element *,
.esd-mime-type,
.esd-sync-module {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}

.cke_button__mergetags_label {
    display: inline !important
}
.cke_button__mergetags_icon {
    display: none !important
}

a.cke_button,
a.cke_combo_button {
    border-radius: 5px;
}

.esd-empty-container {
    background: #ECF3FC;
    height: 100px;
    border: 1px dashed #8AB7EC;
    font-size: 12px;
    color: #8AB7EC;
    text-align: center;
    cursor: default;
}

.esd-dynamic-element {
    height: 200px;
    padding: 10px 0;
    border-radius: 1px;
    color: #d6a447;
    cursor: default;
    background-color: #f2edc9;
    /*box-shadow: 0px 0px 0px 1px #eae2a9;*/
    outline: 1px solid #eae2a9;
    text-align: center;
    vertical-align: middle;
}

.esd-dynamic-element .esd-container-text {
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    cursor: default;
    display: inline-block;
}

.esd-dynamic-title {
    font-size: 14px;
    color: #ce9325;
    margin-bottom: 20px;
}

.esd-empty-container .esd-container-text {
    display: block;
    margin-top: 5px;
    padding: 0px 3px;
}

.esd-empty-column {
    height: 100px;
    border: 1px dashed #b9d4f4;
    font-size: 12px;
    color: #a7c8f1;
    text-align: center;
}

.esd-empty-container .esd-empty-container {
    border: 1px dashed rgba(138, 183, 236, 0.44);
}

.esd-frame.esdev-amp-form-container.esd-empty-container.esd-hover.esd-activated,
.esd-frame.esd-container-frame.esd-empty-container.esd-hover.esd-activated {
    border: 0px solid transparent;
    border-bottom: 2px solid transparent;
}

.esd-drop {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6);
    position: relative;
}

.col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-12 {
    position: relative;
    min-height: 1px;
}

.col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.esd-stripe-preview {
    width: 168px !important;
    padding: 10px 5px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    height: 32px !important;
}

.esd-structure-preview {
    background: #ECF3FC;
    height: 30px;
    border: 1px dashed #8AB7EC;
    color: #8AB7EC;
    padding: 0 10px;
    display: block;
    margin: 0 5px;
    border-radius: 2px;
}

.esd-header-popover .esd-stripes-popover {
    margin-top: -45px !important;
}

.esd-footer-popover .esd-stripes-popover,
.es-content.esd-header-popover .esd-stripes-popover {
    bottom: -4px !important;
}

.esd-header-popover .esd-stripes-popover::before,
.esd-header-popover .esd-stripes-popover::after {
    top: 23px !important;
}

.esd-footer-popover .esd-stripes-popover::before,
.es-content.esd-header-popover .esd-stripes-popover::before {
    top: 100% !important;
    margin-top: -35px !important;
}

.esd-footer-popover .esd-stripes-popover::after,
.es-content.esd-header-popover .esd-stripes-popover::after {
    top: 100% !important;
    margin-top: -33px !important;
}

.esd-stripes-popover .esd-stripe-preview {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: border .2s ease-in-out;
}

.esd-align-left .esd-stripes-popover {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 50px;
}

.esd-align-left .esd-stripes-popover::before {
    border-right: 12px solid transparent;
    border-left: 12px solid rgba(0, 0, 0, 0.15);
    right: -24px;
    margin-top: -12px;
}

.esd-align-left .esd-stripes-popover::after {
    border-right: 10px solid transparent;
    border-left: 10px solid #f6f6f6;
    right: -20px;
    margin-top: -10px;
}

.esd-stripes-popover {
    width: 585px;
    position: absolute;
    left: 0;
    margin-left: 50px;
    background: #f6f6f6;
    padding: 15px 0px 0px 15px;
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin-top: -99px;
    z-index: 99999;
    transition: all .2s ease-in-out;
}

.esd-hidden-right {
    opacity: 0;
    visibility: hidden;
    left: 20px;
    transition: all .2s ease-in-out;
}

.esd-stripes-popover .esd-stripe-preview:hover {
    border: 1px solid #31cb4b;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 0px 1px #31cb4b;

}

.esd-stripes-popover::after {
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f6f6f6;
    border-top: 10px solid transparent;
    top: 50%;
    content: "";
    right: 100%;
    position: absolute;
    margin-top: -10px;
}

.esd-stripes-popover::before {
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid rgba(0, 0, 0, 0.15);
    border-top: 12px solid transparent;
    top: 50%;
    content: "";
    right: 100%;
    position: absolute;
    margin-top: -12px;
}

.cke_button__emplelink_icon {
    background-image: url("minimalist/icons.png?t=H956") !important;
}

.cke_button__emojione_icon {
    background-image: url("../img/emojione.png") !important;
}

.cke_button__textFormatMenu_icon, .cke_button__insertMenu_icon {
    background-image: url("../img/cke-more.png") !important;
    background-position: 0 0px;
    background-size: 16px;
}

.cke_button__textformatmenu .cke_button_arrow, .cke_button__insertmenu .cke_button_arrow {
    display: none;
}

.cke_combo__mergetags .cke_combo_text {
    width: auto;
}

.cke_ltr.cke_hidpi .cke_button__emplelink_icon {
    background-image: url("minimalist/icons_hidpi.png?t=H956") !important;
}

.cke_ltr.cke_hidpi .cke_button__emplelink_icon,
.cke_button__emplelink_icon {
    background-position: 0 -1320px !important;
    background-size: 16px !important;
}

.cke_unlink_icon {
    background-position: 0 -1344px !important;
}

.esd-block-image img[src*="default-img"],
.esd-block-carousel img[src*="default-img"],
.esd-block-amp-carousel img[src*="default-img"] {
    background: #F9F9F9 url("../img/default-img-back.png") no-repeat 50%;
    box-shadow: 0px 0px 0px 1px #EEEEEE inset;
}

.esd-block-menu img[src*="default-img"],
.esd-block-button img[src*="default-img"],
.esd-block-social img[src*="default-img"] {
    background: transparent url("../img/default-menu-back.png") no-repeat 50%;
}

.esd-block-video img[src*="default-img"] {
    background: #F9F9F9 url("../img/default-video-back.png") no-repeat 50%;
    box-shadow: 0px 0px 0px 1px #EEEEEE inset;
}

.esd-block-banner img[src*="default-img"] {
    background: #F9F9F9 url("../img/default-banner-back.png") no-repeat 50%;
    box-shadow: 0px 0px 0px 1px #EEEEEE inset;
}

.esd-block-timer img[src*="default-img"] {
    background: #F9F9F9 url("../img/default-timer-back.png") no-repeat 50%;
    box-shadow: 0px 0px 0px 1px #EEEEEE inset;
}

.esd-srt .esd-email-paddings {
    padding-top: 30px;
    padding-bottom: 30px;
}

.esd-email-paddings {
    padding-top: 46px;
    padding-bottom: 25px;
}

.esd-email-paddings-increased {
    padding-top: 89px !important;
}

.esd-block-social a > img {
    cursor: default;
}

.esd-move-border img {
    box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.8);
}

.esdev-disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.esdev-enable-select {
    -webkit-user-select: text; /* Chrome 49+ */
    -moz-user-select: text; /* Firefox 43+ */
    -ms-user-select: text; /* No support yet */
    user-select: text; /* Likely future */
}

.esd-block-social > table {
    display: inline-block;
}

[disabled] {
    cursor: not-allowed !important;
}

*[disabled] * {
    opacity: 0.7;
    pointer-events: none;
}


@media only screen and (max-width: 600px) {
    .esd-frame.esd-hover.esd-activated,
    .esd-frame.esd-active {
        display: table-cell;
    }

    .esd-stripes-popover {
        width: 195px !important;
        margin-top: -237px !important;
    }
}

@media only screen and (max-width: 794px) {
    .esd-email-paddings {
        padding-top: 89px
    }
}

@media only screen and (max-width: 1020px) {
    .esd-hover > .esd-block-btn.esd-activated.esd-block-context-menu-5,
    .esd-active > .esd-block-btn.esd-activated.esd-block-context-menu-5 {
        right: 0;
        left: auto;
        width: auto;
        border-radius: 20px 0 0 20px;
    }

    .esd-container-frame.esd-hover > .esd-block-btn.esd-block-context-menu-5,
    .esd-container-frame.esd-active > .esd-block-btn.esd-block-context-menu-5 {
        right: auto !important;
        border-radius: 0 20px 20px 0px !important;
        margin-left: -1px;
    }

    .esd-block-btn.esd-block-context-menu-5 > div:last-child > a {
        border-radius: 20px 0px 0px 20px !important;
        padding-right: 9px;
        padding-left: 10px
    }

    .esd-container-frame > .esd-block-btn.esd-block-context-menu-5 > div:last-child > a {
        border-radius: 0px 20px 20px 0px !important;
        padding-left: 9px;
        padding-right: 11px;
    }

    .esd-container-frame > .esd-block-btn.esd-block-context-menu-5 > div {
        float: left !important;
    }

    .esd-structure > .esd-block-btn.esd-block-context-menu-5 > div,
    .esd-block > .esd-block-btn.esd-block-context-menu-5 > div {
        float: right !important;
    }
}

@media only screen and (max-width: 920px) {
    .esd-hover > .esd-block-btn.esd-block-context-menu-4,
    .esd-active > .esd-block-btn.esd-block-context-menu-4 {
        right: 0;
        left: auto;
        width: auto;
        border-radius: 20px 0 0 20px;
    }

    .esd-container-frame.esd-hover > .esd-block-btn.esd-block-context-menu-4,
    .esd-container-frame.esd-active > .esd-block-btn.esd-block-context-menu-4 {
        right: auto !important;
        border-radius: 0 20px 20px 0px !important;
        margin-left: -1px;
    }

    .esd-block-btn.esd-block-context-menu-4 > div:last-child > a {
        border-radius: 20px 0px 0px 20px !important;
        padding-right: 9px;
        padding-left: 10px
    }

    .esd-container-frame > .esd-block-btn.esd-block-context-menu-4 > div:last-child > a {
        border-radius: 0px 20px 20px 0px !important;
        padding-left: 9px;
        padding-right: 11px;
    }

    .esd-container-frame > .esd-block-btn.esd-block-context-menu-4 > div {
        float: left !important;
    }

    .esd-structure > .esd-block-btn.esd-block-context-menu-4 > div,
    .esd-block > .esd-block-btn.esd-block-context-menu-4 > div {
        float: right !important;
    }
}

@media only screen and (max-width: 865px) {
    .esd-stripes-popover {
        width: 390px;
        margin-top: -133px;
    }

    .esd-hover > .esd-block-btn,
    .esd-active > .esd-block-btn {
        right: 0;
        left: auto;
        width: auto;
        border-radius: 20px 0 0 20px;
    }

    .esd-block-btn > div.esd-more > a {
        padding-left: 12px;
        padding-right: 8px;
    }

    .esdev-amp-form-container.esd-hover > .esd-block-btn,
    .esdev-amp-form-container.esd-active > .esd-block-btn,
    .esd-container-frame.esd-hover > .esd-block-btn,
    .esd-container-frame.esd-active > .esd-block-btn {
        right: auto !important;
        border-radius: 0 20px 20px 0px !important;
        margin-left: -1px;
        z-index: 99999;
    }

    .esd-container-frame > .esd-block-btn > div {
        float: left !important;
    }

    .esd-structure > .esd-block-btn > div,
    .esd-block > .esd-block-btn > div {
        float: right !important;
    }

    .esd-block-btn > div:last-child > a {
        border-radius: 20px 0px 0px 20px !important;
        padding-right: 9px;
        padding-left: 10px
    }

    .esdev-amp-form-container > .esd-block-btn > div:last-child > a,
    .esd-container-frame > .esd-block-btn > div:last-child > a {
        border-radius: 0px 20px 20px 0px !important;
        padding-left: 9px;
        padding-right: 11px;
    }

    .esdev-amp-form-container > .esd-block-btn > div.esd-more > a,
    .esd-container-frame > .esd-block-btn > div.esd-more > a {
        padding-left: 10px;
        padding-right: 9px;
    }

}

.loader-c {
    width: 100%;
    height: 20px;
    text-align: center;
}

.loader-z {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: 1px 1px 0px rgb(49, 203, 75);
    animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}

@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*---------------------- FIX TO HIDE DEV BLOCKS WIHT NO CONTENT --- START ----------------------------*/
.esd-empty-container {
    display: table-cell !important;
}

.esdev-empty-img,
.esdev-empty-video {
    display: block !important;
}

/*---------------------- FIX TO HIDE DEV BLOCKS WIHT NO CONTENT --- END ----------------------------*/

/*---------------------- ICONS----------------------------*/
@font-face {
    font-family: 'fontello';
    src: url('../fonts/es-icon-mail-preview.eot?112');
    src: url('../fonts/es-icon-mail-preview.eot?112#iefix') format('embedded-opentype'),
    url('../fonts/es-icon-mail-preview.woff2?112') format('woff2'),
    url('../fonts/es-icon-mail-preview.woff?112') format('woff'),
    url('../fonts/es-icon-mail-preview.ttf?112') format('truetype'),
    url('../fonts/es-icon-mail-preview.svg?112#es-icon-mail-preview') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="es-icon-"]:before, [class*=" es-icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 0.9em;
    margin-right: .1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 0.8em;
    top: 2px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 166%;
}

.es-icon-text:before { content: '\e90f'; } /* '' */
.es-icon-button:before { content: '\e911'; } /* '' */
.es-icon-image:before { content: '\e914'; } /* '' */
.es-icon-plus:before { content: '\e915'; } /* '' */
.es-icon-devider:before { content: '\e917'; } /* '' */
.es-icon-delete:before { content: '\e91a'; } /* '' */
.es-icon-move:before { content: '\e921'; } /* '' */
.es-icon-cog:before { content: '\e922'; } /* '' */
.es-icon-copy:before { content: '\e923'; } /* '' */
.es-icon-edit:before { content: '\e91c'; } /* '' */
.es-icon-save:before { content: '\e924'; } /* '' */
.es-icon-dot-3:before { content: '\e925'; } /* '' */
.es-icon-eye-hide:before { content: '\e92d'; } /* '' */
.es-icon-drop-here:before { content: '\e968'; } /* '' */
.es-icon-double-click:before { content: '\ea04'; } /* '' */
.es-icon-amp:before { content: '\ea0d'; } /* '' */
.es-icon-condition:before { content: '\ea1f'; } /* '' */
.es-icon-hide-on-desktop:before { content: '\ea3f'; } /* '' */
.es-icon-hide-on-mobile:before { content: '\ea4f'; } /* '' */
.es-icon-sync:before { content: '\ea8a'; } /* '' */
.es-icon-edit:before { content: '\e91c'; } /* '' */

.caption-area {
    position: absolute !important;
    z-index: 20;
    border: 2px dashed #31cb4b;
}

.disabled-cke-toolbar {
    opacity: .5;
    cursor: not-allowed !important;
    pointer-events: none;
}

.caption-wrapper {
    position: absolute !important;
    border: 2px solid transparent;
    padding: 2px;
    overflow: hidden;
    z-index: 10;
    display: block !important;
}

.caption-wrapper span {
    line-height: 150%;
}

.esd-banner-interactive .caption-wrapper p {
    line-height: 150%;
}

.caption-wrapper:hover, .caption-wrapper.esd-banner-caption-activated {
    border: 2px solid #31cb4b !important;
}

.caption-wrapper.non-active:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: move;
}

.caption-wrapper:hover > .ui-resizable-e:after, .caption-wrapper:hover > .ui-resizable-w:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background: #31cb4b;
    z-index: 100;
}

.caption-wrapper > .caption > p {
    color: white;
}

.esd-banner-generating {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 15;
}

.esd-banner-additional-picture {
    position: absolute !important;
    top: 10px;
    left: 10px;
    z-index: 5;
    border: 2px solid transparent;
    cursor: move !important;
}

.esd-banner-additional-picture:hover > .ui-resizable-handle {
    background: #31cb4b;
}

.esd-banner-additional-picture:hover {
    border: 2px solid #31cb4b !important;
}

.esd-sticky-zone {
    border: 2px solid transparent;
    position: absolute;
}

.esd-hovered-sticky-zone {
    border: 2px solid #31cb4b !important;
}

.esd-hint-sticky-zone {
    border: 2px dashed #31cb4b;
}

.esd-banner-background {
    cursor: default !important;
}

esd-config-block, esd-stored-config-block {
    display: none !important;
}

#cke-toolbar-container, .banner-toolbar {
    position: fixed;
    top: 0;
    /*bottom: 0;*/
    left: 0;
    width: 100%;
    z-index: 9999;
}

.banner-toolbar > .cke {
    visibility: inherit;
}

#banner-cke-toolbar-container .cke_top {
    padding: 0;
}

#cke-toolbar-container .cke_toolbox, .banner-toolbar .cke_toolbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cke_chrome {
    border: none !important;
}

.cke_top {
    border-bottom: 1px solid #dddddd !important;
    background: #e6e6e6 !important;
}

.cke_combo__fontsize > .cke_combo_button > .cke_combo_text,
.cke_combo__lineheight > .cke_combo_button > .cke_combo_text {
    width: 20px;
}

.cke_combo__font > .cke_combo_button > .cke_combo_text {
    width: 60px;
}

.esd-banner-add-text-backdrop::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    z-index: 100;
    cursor: crosshair;
}

.cke_button__mergetag_icon,
.cke_button__linewrap_icon {
    background-image: url("../img/cke-icons/icons.png?t=H957") !important;
}

.cke_ltr.cke_hidpi .cke_button__mergetag_icon,
.cke_ltr.cke_hidpi .cke_button__linewrap_icon {
    background-image: url("../img/cke-icons/icons_hidpi.png?t=H957") !important;
}

.cke_ltr.cke_hidpi .cke_button__linewrap_icon,
.cke_button__linewrap_icon {
    background-position: 0 -2330px !important;
    background-size: 16px !important;
}

.cke_ltr.cke_hidpi .cke_button__mergetag_icon,
.cke_button__mergetag_icon {
    background-position: 0 -2404px !important;
    background-size: 16px !important;
    width: 16px;
    padding: 0;
}

.cke_lineUnwrap_icon {
    background-position: 0 -2355px !important;
    width: 16px;
    padding: 0;
}

.cke_hidden_element {
    display: none !important;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.esd-disable-editing .esd-block-btn,
.esd-disable-editing .esd-add-stripe,
.esd-disable-editing .esd-block-icons {
    display: none !important;
}

.esd-text-only .esd-block-text,
.esd-text-only .esd-block-image,
.esd-text-only .esd-block-timer,
.esd-text-only .esd-block-button,
.esd-text-only .esd-block-banner,
.esd-text-only .esd-block-video,
.esd-text-only .esd-block-menu,
.esd-text-only .esd-block-social,
.esd-text-only .esd-block-amp-carousel,
.esd-text-only .caption-wrapper > .caption {
    pointer-events: all;
}

.esd-text-only .caption-wrapper,
.esd-text-only .esd-block-btn {
    pointer-events: none;
}

.esd-text-only .cke_toolbox .cke_button,
.esd-text-only .cke_toolbox .cke_combo_button {
    opacity: 0.6;
}

.cke_combopanel__format {
    width: 200px;
}

.cke_combopanel {
    max-height: 268px;
}

.cke_ltr.cke_panel:not(.cke_menu_panel)  {
    min-height: 235px;
}

.cke_ltr.cke_panel.cke_combopanel__lineheight {
    min-height: 202px;
}

/* --- amp form --- */
.esd-hidden-field-label {
    font-size: 10px;
    padding: 2px;
    border-radius: 4px;
    float: right;
}
.esd-block-amp-form-input-hidden {
    padding: 3px 3px 3px;
    border-radius: 6px;
    background: #efefef;
}
input[type="text"][readonly] {
    background: #efefef;
}
/* --- amp form end --- */

/*This will work for firefox*/
@-moz-document url-prefix() {
    .esd-frame.esd-structure .es-left,
    .esd-frame.esd-structure .es-right {
        display: block;
    }
}
.esd-srt-zone {
   box-shadow: 0px 0px 0px 1px #8ab7ec;
   z-index: 99999999;
}
.esd-srt-or-label {
    background: #ffffff;
    right: calc(50% - 20px);
    border: 1px solid #8ab7ec;
    color: #8ab7ec;
    top: calc(100% - 10px);
    position: absolute;
    padding: 3px 5px;
    font-size: 11px;
    border-radius: 8px;
    cursor: default;
    height: 12px;
    line-height: normal;
    width: 40px;
    z-index: 99999999;
    text-align: center;
}

.esd-merge-tag {
    line-height: normal;
    padding: 2px 2px 2px 7px;
    display: inline;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) inset;
    margin-right: 2px;
    margin-left: 2px;
}

.esd-x {
    color: #333333;
    display: inline-block;
    padding: 0px 5px 0 8px;;
    height: 20px;
    cursor: pointer;
}

[dir="rtl"] .esd-merge-tag {
    padding-right: 7px;
    padding-left: 2px;
}

[dir="rtl"] .esd-x {
    padding: 0px 8px 0 5px;
}

.esd-drag-blocks-available .esd-draggable.esd-block:not(.esd-block-text) {
    cursor: move;
}

/*Prevent Chrome from adding span with styles to a text block */
.esd-block-text p span {
    letter-spacing: 0px;
    text-align: center;
}

.esd-external-menu-item > a > span {
    width: 18px;
    height:18px;
    display: inline-block;
    background-size: cover;
}
