/* this fix for ckeditor jumping scroll, when a user adds a lot of new lines */
html, body {
    height: auto !important;
}

div.cke_focus:focus {
    outline: 0px none currentColor !important;
    outline-offset: 0px !important;
}

[class^="es-icon-"] {
    font-size: 12px;
}

.esd-stripe {
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.esd-drag-structure .esd-stripe .esd-structure,
.esd-drag-stripe .esd-stripe {
    box-shadow: 0px 1px 0 #8AB7EC inset;
}

.esd-drag-structure [class*="esd-block-"],
.esd-drag [class*="esd-block-"],
.esd-drag-stripe .esd-stripe > table {
    opacity: 0.4;
}

.esd-frame.esd-hover.esd-activated,
.esd-frame.esd-active {
    position: relative;
    border-collapse: separate;
    display: table-cell;
    border-radius: 1px;
}

.esd-stripe.esd-hover.esd-activated,
.esd-stripe.esd-active,
.esd-stripe-draggable-target,
.esd-structure.esd-hover.esd-activated,
.esd-structure.esd-active {
    display: block !important;
}

.esd-frame.esd-hover.esd-activated,
.esd-frame-element.esd-hover-element:hover,
.esd-stripe-draggable-target {
    box-shadow: 0px 0px 0px 2px #b3b3b3;
}

[esd-dynamic-block] .esd-frame-element.esd-hover-element:hover {
    box-shadow: none !important;
}

.esd-frame.esd-active,
.esd-frame-element.esd-active {
    box-shadow: 0px 0px 0px 2px #666666 !important;
}

.esd-block-spacer .esd-spacer-resizer {
    position: absolute;
    display: inline-block;
    background: #666666;
    color: #ffffff;
    left: 50%;
    padding: 4px 5px 5px 8px;
    border-radius: 19px;
    bottom: 0;
    margin-bottom: -13px;
    margin-left: -32px;
    cursor: ns-resize;
    display: none;
}

.esd-activated .esd-add-stripe {
    background: #b3b3b3;
}

.esd-active .esd-add-stripe,
.esd-activated .esd-add-stripe:hover {
    background: #666666;
}

.esd-add-stripe {
    background: #666666;
    width: 40px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: -21px;
    height: 40px;
    margin-left: 10px;
    z-index: 99999;
}

.esd-structure-type {
    float: left;
    background: #b3b3b3;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -19px;
    padding: 3px 5px;
    color: #ffffff;
    font-size: 11px;
    border-radius: 8px 8px 0px 0px;
    cursor: default;
    height: 12px;
    line-height: normal;
}
.esd-hidden-element {
    box-shadow: 0px 0px 0px 2px rgba(238, 162, 54, 0.8);
    position: relative;
    border-radius: 1px;
}
.esd-hidden-status {
    right: 0;
    background: rgba(238, 162, 54, 0.8);
    top: 0px;
    border-radius: 0px 0px 0px 8px;
    padding: 2px 6px 4px;
    position: absolute;
    color: #ffffff;
    font-size: 11px;
    cursor: default;
    height: 12px;
    line-height: normal;

}
.esd-structure-type .es-icon-cog,
.esd-hidden-status .es-icon-eye-hide {
    font-size: 7px;
}

.esd-structure-type .es-icon-cog:before{
    top: 0;
}

.esd-container-frame > .esd-structure-type,
.esd-frame.esd-container-frame.esd-active > .esd-structure-type {
    background: #ffffff;
    left: auto;
    right: 0;
    border: 1px solid #8ab7ec;
    color: #8ab7ec;
    top: -20px;
    height: 12px;
}

.esd-add-stripe-button-animation {
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
}

.esd-add-stripe > a {
    color: #ffffff;
    padding: 11px 9px 15px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    transition: all .2s ease-in-out;
}

.esd-frame:before,
.esd-frame:after {
    content: " ";
    display: table;
}

.esd-frame:after {
    clear: both;
}

.esd-active {
    z-index: 9999;
}

.esd-frame.esd-container-frame.esd-hover.esd-activated,
.esd-frame.esd-container-frame.esd-active,
.esd-drag .esd-container-frame {
    box-shadow: 0px 0px 0px 1px #8AB7EC !important;
}

.esd-frame.esd-container-frame.esd-hover.esd-activated > .esd-block-btn,
.esd-frame.esd-container-frame.esd-active > .esd-block-btn {
    background: #ffffff;
    border: 1px solid #8AB7EC;
    left: auto;
    display: block;
    right: 100%;
    border-radius: 20px 2px 2px 20px;
    margin-top: -22px;
}

.esd-container-frame > .esd-block-btn > div,
.esd-stripe > .esd-block-btn > div,
.esd-container-frame .esd-structure-type {
    float: right !important;
}

.esd-frame.esd-container-frame > .esd-block-btn a,
.esd-block-icons a {
    color: #8AB7EC !important;
}

.esd-empty-container .esd-block-icons {
    opacity: 0;
    transition: all .2s ease-in-out;
    margin-top: -24px;
    display: block;
    height: 24px;
}

.esd-empty-container:hover .esd-block-icons {
    opacity: 1;
    margin-top: 0px;
    height: auto;
}

.esd-empty-container .esd-block-icons a:hover {
    opacity: 1;
}

.esd-empty-container .esd-block-icons a {
    opacity: 0.4;
    cursor: pointer;
}

.esd-empty-container .es-icon-drop-here,
.esd-empty-container .esd-block-icons a {
    padding: 4px;
    display: inline-block;
}

.esd-block-btn > div > a {
    color: #ffffff;
    padding: 12px 9px 15px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 20px;
}

.esd-block-btn > div > a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.esd-container-frame > .esd-block-btn > div > a:hover {
    background: rgba(138, 183, 236, 0.2);
}

.esd-block-btn > div:last-child > a {
    border-radius: 0px 20px 20px 0px;
    padding-right: 11px;
}

.esd-container-frame > .esd-block-btn > div:last-child > a,
.esd-container-frame > .esd-block-btn > div.esd-more > a {
    padding-left: 12px;
    padding-right: 8px;
}

.esd-stripe > .esd-block-btn > div:last-child > a {
    border-radius: 20px 0px 0px 20px;
    padding-left: 11px;
}

.esd-block-btn > div.esd-more > a:hover {
    background: none;
}

.esd-stripe > .esd-block-btn > div.esd-more > a {
    padding-left: 12px;
    padding-right: 8px;
}

.esd-block-btn > div:nth-of-type(2) > a {
    margin-left: 2px;
}

.esd-block-btn.esd-activated > div:nth-of-type(2),
.esd-block-btn > .esd-more {
    margin-left: -2px;
}

.esd-block-btn.esd-activated > div,
.esd-block-btn-hover > div {
    display: inline-block;
    float: left;
}

.esd-block-btn.esd-activated,
.esd-block-btn-hover {
    width: 116px;
    z-index: 99999;
}

.esd-container-frame > .esd-block-btn.esd-activated,
.esd-structure > .esd-block-btn.esd-activated,
.esd-block-btn-hover {
    width: 154px;
}

.esd-container-frame > .esd-block-btn.esd-activated.esd-no-block-library,
.esd-structure > .esd-block-btn.esd-activated.esd-no-block-library,
.esd-block-btn-hover .esd-no-block-library {
    width: 117px;
}

.esd-frame > .esd-block-btn {
    left: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    display: none;
    z-index: 99999;
    margin-left: 2px;
    top: 50%;
    margin-top: -21px;
    border-radius: 1px 20px 20px 1px;
}

.esd-frame > .esd-block-btn.esd-activated,
.esd-frame.esd-active > .esd-block-btn,
.esd-frame.esd-active > .esd-structure-type {
    background: #666666;
}

.esd-container-frame > .esd-block-btn > div:last-child > a {
    border-radius: 20px 0px 0px 20px;
}

.esd-stripe.esd-hover > .esd-block-btn,
.esd-stripe.esd-active > .esd-block-btn {
    right: 0;
    left: auto;
    width: auto;
    border-radius: 20px 0 0 20px;
}

.esd-hover.esd-activated > .esd-block-btn,
.esd-active > .esd-block-btn,
.esd-block-spacer:hover .esd-spacer-resizer,
.esd-block-spacer.esd-active .esd-spacer-resizer,
.esd-stripe.esd-active .esd-add-stripe,
.esd-stripe.esd-hover.esd-activated .esd-add-stripe,
.esd-stripe.esd-hover.esd-activated > .esd-structure-type,
.esd-stripe.esd-active > .esd-structure-type,
.esd-structure.esd-hover.esd-activated > .esd-structure-type,
.esd-structure.esd-active > .esd-structure-type,
.esd-container-frame.esd-hover.esd-activated > .esd-structure-type,
.esd-container-frame.esd-active > .esd-structure-type {
    display: block;
}

.esd-move,
.esd-delete,
.esd-copy,
.esd-add-stripe,
.esd-spacer-resizer,
.esd-save,
.esd-block-btn.esd-activated > .esd-more,
.esd-block-btn-hover > .esd-more,
.esd-structure-type,
.fake-cke-text,
.esd-hide {
    display: none;
}

.esd-placement {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 9999;
}

.esd-plc-label {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -53px;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    margin-top: -10px;
    border-radius: 18px;
    min-width: 100px;
    white-space: nowrap;
}

.esd-empty-container .esd-plc-label {
    margin-top: -3px;
}

.esd-empty-container,
.esd-block-spacer .esd-spacer-resizer,
.esd-structure-type,
.esd-plc-label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

}

a.cke_button,
a.cke_combo_button {
    border-radius: 5px;
}

.esd-empty-container {
    background: #ECF3FC;
    height: 100px;
    border: 1px dashed #8AB7EC;
    font-size: 12px;
    color: #8AB7EC;
    text-align: center;
    cursor: default;
}

.esd-empty-container .esd-container-text {
    display: block;
    margin-top: 5px;
    padding: 0px 3px;
}

.esd-empty-column {
    height: 100px;
    border: 1px dashed #b9d4f4;
    font-size: 12px;
    color: #a7c8f1;
    text-align: center;
}

.esd-empty-container .esd-empty-container {
    border: 1px dashed rgba(138, 183, 236, 0.44);
}

.esd-frame.esd-container-frame.esd-empty-container.esd-hover.esd-activated {
    border: 0px solid transparent;
    border-bottom: 2px solid transparent;
}

.esd-drop {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6);
    position: relative;
}

.col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-12 {
    position: relative;
    min-height: 1px;
}

.col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.esd-stripe-preview {
    width: 168px !important;
    padding: 10px 5px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    height: 32px !important;
}

.esd-structure-preview {
    background: #ECF3FC;
    height: 30px;
    border: 1px dashed #8AB7EC;
    color: #8AB7EC;
    padding: 0 10px;
    display: block;
    margin: 0 5px;
    border-radius: 2px;
}

.esd-header-popover .esd-stripes-popover {
    margin-top: -45px !important;
}

.esd-footer-popover .esd-stripes-popover,
.es-content.esd-header-popover .esd-stripes-popover {
    bottom: -4px !important;
}

.esd-header-popover .esd-stripes-popover::before,
.esd-header-popover .esd-stripes-popover::after {
    top: 23px !important;
}

.esd-footer-popover .esd-stripes-popover::before,
.es-content.esd-header-popover .esd-stripes-popover::before {
    top: 100% !important;
    margin-top: -35px !important;
}

.esd-footer-popover .esd-stripes-popover::after,
.es-content.esd-header-popover .esd-stripes-popover::after {
    top: 100% !important;
    margin-top: -33px !important;
}

.esd-stripes-popover .esd-stripe-preview {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: border .2s ease-in-out;
}

.esd-stripes-popover {
    width: 585px;
    position: absolute;
    left: 0;
    margin-left: 50px;
    background: #f6f6f6;
    padding: 15px 0px 0px 15px;
    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin-top: -99px;
    z-index: 99999;
    transition: all .2s ease-in-out;
}

.esd-hidden-right {
    opacity: 0;
    visibility: hidden;
    left: 20px;
    transition: all .2s ease-in-out;
}

.esd-stripes-popover .esd-stripe-preview:hover {
    border: 1px solid #31cb4b;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 0px 1px #31cb4b;

}

.esd-stripes-popover::after {
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f6f6f6;
    border-top: 10px solid transparent;
    top: 50%;
    content: "";
    right: 100%;
    position: absolute;
    margin-top: -10px;
}

.esd-stripes-popover::before {
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid rgba(0, 0, 0, 0.15);
    border-top: 12px solid transparent;
    top: 50%;
    content: "";
    right: 100%;
    position: absolute;
    margin-top: -12px;
}

.cke_button__emplelink_icon {
    background-image: url("minimalist/icons.png?t=H956") !important;
}

.cke_button__emojione_icon {
    background-image: url("../img/emojione.png") !important;
}

.cke_ltr.cke_hidpi .cke_button__emplelink_icon {
    background-image: url("minimalist/icons_hidpi.png?t=H956") !important;
}

.cke_ltr.cke_hidpi .cke_button__emplelink_icon,
.cke_button__emplelink_icon {
    background-position: 0 -1320px !important;
    background-size: 16px !important;
}

.cke_unlink_icon {
    background-position: 0 -1344px !important;
}

.esd-block-image img[src*="default-img"] {
    background: #F9F9F9 url("../img/default-img-back.png") no-repeat 50%;
    box-shadow: 0px 0px 0px 1px #EEEEEE inset;
}

.esd-block-menu img[src*="default-img"] {
    background: transparent url("../img/default-menu-back.png") no-repeat 50%;
}

.esd-block-video img[src*="default-img"] {
    background: #F9F9F9 url("../img/default-video-back.png") no-repeat 50%;
    box-shadow: 0px 0px 0px 1px #EEEEEE inset;
}

.esd-block-banner img[src*="default-img"] {
    background: #F9F9F9 url("../img/default-banner-back.png") no-repeat 50%;
    box-shadow: 0px 0px 0px 1px #EEEEEE inset;
}

.esd-email-paddings {
    padding-top: 46px;
    padding-bottom: 25px;
}

.esd-email-paddings-increased {
    padding-top: 89px !important;
}

.esd-block-social a > img {
    cursor: move;
}

.esd-move-border img {
    box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.8);
}

.esdev-disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           supported by Chrome and Opera */
}

.esdev-enable-select {
    -webkit-user-select: text; /* Chrome 49+ */
    -moz-user-select: text; /* Firefox 43+ */
    -ms-user-select: text; /* No support yet */
    user-select: text; /* Likely future */
}

.esd-block-social > table {
    display: inline-block;
}

[disabled] {
    cursor: not-allowed !important;
}

*[disabled] * {
    opacity: 0.7;
    pointer-events: none;
}

/*#cke_esd-ckeditor-id {
    position: fixed !important;
}*/

@media only screen and (max-width: 600px) {
    .esd-frame.esd-hover.esd-activated,
    .esd-frame.esd-active {
        display: table-cell;
    }

    .esd-stripes-popover {
        width: 195px !important;
        margin-top: -237px !important;
    }
}

@media only screen and (max-width: 794px) {
    .esd-email-paddings {
        padding-top: 89px
    }
}

@media only screen and (max-width: 865px) {
    .esd-stripes-popover {
        width: 390px;
        margin-top: -133px;
    }

    .esd-hover > .esd-block-btn,
    .esd-active > .esd-block-btn {
        right: 0;
        left: auto;
        width: auto;
        border-radius: 20px 0 0 20px;
    }

    .esd-block-btn > div.esd-more > a {
        padding-left: 12px;
        padding-right: 8px;
    }

    .esd-container-frame.esd-hover > .esd-block-btn,
    .esd-container-frame.esd-active > .esd-block-btn {
        right: auto !important;
        border-radius: 0 20px 20px 0px !important;
        margin-left: -1px;
        z-index: 99999;
    }

    .esd-container-frame > .esd-block-btn > div {
        float: left !important;
    }

    .esd-structure > .esd-block-btn > div,
    .esd-block > .esd-block-btn > div {
        float: right !important;
    }

    .esd-block-btn > div:last-child > a {
        border-radius: 20px 0px 0px 20px !important;
        padding-right: 9px;
        padding-left: 10px
    }

    .esd-container-frame > .esd-block-btn > div:last-child > a {
        border-radius: 0px 20px 20px 0px !important;
        padding-left: 9px;
        padding-right: 11px;
    }

    .esd-container-frame > .esd-block-btn > div.esd-more > a {
        padding-left: 10px;
        padding-right: 9px;
    }

}

.loader-c {
    width: 100%;
    height: 20px;
    text-align: center;
}

.loader-z {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: 1px 1px 0px rgb(49, 203, 75);
    animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}

@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*---------------------- FIX TO HIDE DEV BLOCKS WIHT NO CONTENT --- START ----------------------------*/
.esd-empty-container {
    display: table-cell !important;
}

.esdev-empty-img,
.esdev-empty-video {
    display: block !important;
}

/*---------------------- FIX TO HIDE DEV BLOCKS WIHT NO CONTENT --- END ----------------------------*/

/*---------------------- ICONS----------------------------*/
@font-face {
    font-family: 'fontello';
    src: url('../fonts/es-icon-mail-preview.eot?24562');
    src: url('../fonts/es-icon-mail-preview.eot?24562#iefix') format('embedded-opentype'),
    url('../fonts/es-icon-mail-preview.woff2?24562') format('woff2'),
    url('../fonts/es-icon-mail-preview.woff?24562') format('woff'),
    url('../fonts/es-icon-mail-preview.ttf?24562') format('truetype'),
    url('../fonts/es-icon-mail-preview.svg?24562#es-icon-mail-preview') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="es-icon-"]:before, [class*=" es-icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 0.9em;
    margin-right: .1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 0.8em;
    top: 2px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 166%;
}

.es-icon-text:before { content: '\e90f'; } /* '' */
.es-icon-button:before { content: '\e911'; } /* '' */
.es-icon-image:before { content: '\e914'; } /* '' */
.es-icon-plus:before { content: '\e915'; } /* '' */
.es-icon-devider:before { content: '\e917'; } /* '' */
.es-icon-delete:before { content: '\e91a'; } /* '' */
.es-icon-move:before { content: '\e921'; } /* '' */
.es-icon-cog:before { content: '\e922'; } /* '' */
.es-icon-copy:before { content: '\e923'; } /* '' */
.es-icon-save:before { content: '\e924'; } /* '' */
.es-icon-dot-3:before { content: '\e925'; } /* '' */
.es-icon-eye-hide:before { content: '\e92d'; } /* '' */
.es-icon-drop-here:before { content: '\e968'; } /* '' */

.caption-area {
    position: absolute !important;
    z-index: 20;
    border: 2px dashed #31cb4b;
}


.disabled-cke-toolbar {
    opacity: .5;
    cursor: not-allowed !important;
    pointer-events: none;
}

.caption-wrapper {
    position: absolute !important;
    border: 2px solid transparent;
    padding: 2px;
    overflow: hidden;
    z-index: 10;
    display: block !important;
}

.caption-wrapper span {
    line-height: 150%;
}

.esd-banner-interactive .caption-wrapper p {
    line-height: 150%;
}

.caption-wrapper:hover, .caption-wrapper.esd-banner-caption-activated {
    border: 2px solid #31cb4b !important;
}

.caption-wrapper.non-active:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: move;
}

.caption-wrapper:hover > .ui-resizable-e:after, .caption-wrapper:hover > .ui-resizable-w:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background: #31cb4b;
    z-index: 100;
}

.caption-wrapper > .caption > p {
    color: white;
}

.esd-banner-generating {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 15;
}

.esd-banner-additional-picture {
    position: absolute !important;
    top: 10px;
    left: 10px;
    z-index: 5;
    border: 2px solid transparent;
    cursor: move !important;
}

.esd-banner-additional-picture:hover > .ui-resizable-handle {
    background: #31cb4b;
}

.esd-banner-additional-picture:hover {
    border: 2px solid #31cb4b !important;
}

.esd-sticky-zone {
    border: 2px solid transparent;
    position: absolute;
}

.esd-hovered-sticky-zone {
    border: 2px solid #31cb4b !important;
}

.esd-hint-sticky-zone {
    border: 2px dashed #31cb4b;
}

.esd-banner-background {
    cursor: default !important;
}

esd-config-block, esd-stored-config-block {
    display: none !important;
}

#cke-toolbar-container, .banner-toolbar {
    position: fixed;
    top: 0;
    /*bottom: 0;*/
    left: 0;
    width: 100%;
    z-index: 9999;
}

.banner-toolbar > .cke {
    visibility: inherit;
}

#banner-cke-toolbar-container .cke_top {
    padding: 0;
}

#cke-toolbar-container .cke_toolbox, .banner-toolbar .cke_toolbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cke_chrome {
    border: none !important;
}

.cke_top {
    border-bottom: 1px solid #dddddd !important;
    background: #e6e6e6 !important;
}

.cke_combo__fontsize > .cke_combo_button > .cke_combo_text,
.cke_combo__lineheight > .cke_combo_button > .cke_combo_text {
    width: 30px;
}

.cke_combo__font > .cke_combo_button > .cke_combo_text {
    width: 100px;
}

.esd-banner-add-text-backdrop::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    z-index: 100;
    cursor: crosshair;
}