@font-face {
  font-family: 'stripo-icons';
  src: url('../fonts/stripo-icons.eot?42888809');
  src: url('../fonts/stripo-icons.eot?42888809#iefix') format('embedded-opentype'),
       url('../fonts/stripo-icons.woff2?42888809') format('woff2'),
       url('../fonts/stripo-icons.woff?42888809') format('woff'),
       url('../fonts/stripo-icons.ttf?42888809') format('truetype'),
       url('../fonts/stripo-icons.svg?42888809#stripo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'stripo-icons';
    src: url('../fonts/stripo-icons.svg?42888809#stripo-icons') format('svg');
  }
}
*/
 
[class^="es-icon-"]:before,[class*=" es-icon-"]:before,
.check-mark:before  {
  font-family: "stripo-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 0.9em;
  margin-right: .1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 0.8em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .1em;*/
  top:2px;
  position: relative;
 
   /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* you can be more comfortable with increased icons size */
   font-size: 166%; 
 
  /* Uncomment for 3D effect */
   /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  [class^="es-icon-"]:before,[class*=" es-icon-"]:before {
     font-size: 20px; 
   }
}
.check-mark:before { content: '\e943'; } /* '' */
 
.es-icon-txt-align-right:before { content: '\e902'; } /* '' */
.es-icon-txt-align-center:before { content: '\e903'; } /* '' */
.es-icon-txt-align-left:before { content: '\e904'; } /* '' */
.es-icon-img-align-right:before { content: '\e905'; } /* '' */
.es-icon-italic:before { content: '\e906'; } /* '' */
.es-icon-bold:before { content: '\e907'; } /* '' */
.es-icon-img-align-left:before { content: '\e908'; } /* '' */
.es-icon-img-align-center:before { content: '\e909'; } /* '' */
.es-icon-line-height-normal:before { content: '\e90b'; } /* '' */
.es-icon-plus:before { content: '\e915'; } /* '' */
.es-icon-minus:before { content: '\e916'; } /* '' */
.es-icon-chevron-up:before { content: '\e920'; } /* '' */
.es-icon-check:before { content: '\e943'; } /* '' */
.es-icon-product:before { content: '\eabf'; } /* '' */
.es-icon-product-vertical:before { content: '\eaff'; } /* '' */
.es-icon-product-horizontal:before { content: '\eb0f'; } /* '' */
.es-icon-info-with-circle:before { content: '\eb2f'; } /* '' */

.cursor-reorder {
	cursor: row-resize;
}
.shewron {
	margin-top: 8px;
	cursor: pointer;
}
.esdev-productBlock .text {
	width: 100%;
}
.esdev-productBlock .text small {
	float: right;
    margin-right: 33px;
}