
* {
    /* FireFox */
    scrollbar-width: thin;
    scrollbar-color: #888 #f6f6f6;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f6f6f6;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    border: 2px solid #f6f6f6;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-track {
    margin: 10px;
}
